[2016-12-06 19:11] elinz opened #689 "Distance and Direction WAB widget: Radials are not geodetic when creating range rings"
### Widget
Distance and Direction
### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
The following range rings were created using the following parameters:
Center Point (DD): 55.77 37.56
Number of Rings: 5
Ring Interval: 500 Km
Number of Radials: 6
![image](https://cloud.githubusercontent.com/assets/4635490/20939657/7ba46398-bba4-11e6-923e-7d8e17eef443.png)

Creat

[2016-12-06 20:17] elinz opened #690 "Distance and Direction WAB widget: parameter label on "Range" tab in inconsistent with ArcMap and ArcPro parameter"
### Widget
Distance and Direction

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
"Ring Interval" parameter is labeled "Distance Between Rings" on ArcMap and ArcGIS Pro add-ins. Should change parameter label to be consistent across all tools. Recommend following ArcMap/ArcGIS parameter labels.
![image](https://cloud.githubusercontent.com/assets/4635490/2094195

[2016-12-06 20:19] elinz opened #691 "Distance and Direction WAB widget: change name of "Range" tab to match tab name in Pro and ArcMap"
### Widget
Distance and Direction

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
The "Range" tab on the Distance and Direction WAB widget is called "Rings" in the ArcMap and ArcGIS Pro add-ins. Would recommend changing tab name from "Range" to "Rings" to be consistent with the add-ins.

![image](https://cloud.githubusercontent.com/assets/4635490/20942000/217b

[2016-12-06 20:21] elinz opened #692 "Distance and Direction WAB widget: uses same icon as the "My Location" widget"
### Widget
Distance and Direction

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
The Distance and Direction widget uses the same icon as the "My Location" widget. Recommend using a different icon that would make more sense for this widget and wouldn't confuse the user.
![image](https://cloud.githubusercontent.com/assets/4635490/20942039/60a40c60-bbae-11e6-8af

[2016-12-06 20:23] elinz opened #693 "Distance And Direction WAB widget: increase dialog height to fit all controls"
### Widget
Distance And Direction
### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
Can we increase the height of the widget dialog so that all the controls for the Lines and Ellipse tabs are accessible without scrolling down? This would make it easier to use the widget; there is only one parameter and a button on both tabs that need to fix within the default siz

[2016-12-08 00:07] elinz commented on #693
@kgonzago We should also increase the width of the widget dialog as the Range tab is hidden. Users may not realize that this tab exists.

![image](https://cloud.githubusercontent.com/assets/4635490/20992177/4eb9c960-bc97-11e6-871d-40392f67d55a.png)

[2016-12-08 00:18] elinz opened #695 "Distance And Direction WAB widget: line and ellipse graphics are hidden when the widget is closed"
### Widget
Distance and Direction
### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
- Create app
- Add distance and direction widget
- Using widget, draw a line, a circle, an ellipse and ring
- Click "X" on widget dialog to close the dialog. The line and ellipse graphics are no longer displayed. Circle and ring graphics still display.
- Reopen the widget and the

[2016-12-08 00:33] elinz opened #696 "Distance And Direction WAB widget: Label for major/minor axis are being truncated"
### Widget
Distance and Direction - Ellipse
### Version of widget

### Bug or Enhancement
Major axis is 3,349,295.5114 feet but label only set to 3349
Minor axis is 1,972,350.3406 feet but label only set to 1972

![image](https://cloud.githubusercontent.com/assets/4635490/20992697/b25d91d8-bc9a-11e6-880d-813673399be3.png)

### Repo Steps or Enhancement details

[2016-12-08 00:42] elinz opened #697 "Distance And Direction WAB widget: Ellipse Center Point parameter does not have "Set Coordinate Format String" control"
### Widget
Distance and Direction

### Version of widget
Build 06 Dec 2016 13:31 (manual build)

### Bug or Enhancement
Lines, Circle and Range tools have this control as shown below:
![image](https://cloud.githubusercontent.com/assets/4635490/20992909/023958a8-bc9c-11e6-921e-d1c6f050f12f.png)

However, the Ellipse Center Point parameter does not have this control. Any control that can accept coor

[2016-12-08 16:57] elinz opened #698 "Distance And Direction WAB widget: Ellipse Axis Unit is ignored; ellipse units always uses feet or meters"
### Widget
Distance And Direction - Ellipse tool
### Version of widget
Widget Jenkins build 20161208 05:03
### Bug or Enhancement
Unit drop-down control has not effect. Ellipse unit appears to always be feet or meters

![image](https://cloud.githubusercontent.com/assets/4635490/21019157/58ce2fee-bd24-11e6-82bd-76ce60beb17a.png)

### Repo Steps or Enhancement details

[2016-12-08 18:19] elinz opened #699 "Distance and Direction WAB widget: created ellipses are not geodetic"
### Widget
Distance and Direction - Ellipse
### Version of widget
Widget built 08 Dec 2016 05:03
### Bug or Enhancement
Here is the ellipse drawn in the widget:
![image](https://cloud.githubusercontent.com/assets/4635490/21021942/9f964e42-bd2f-11e6-859d-bb7b87a05ce9.png)

Here is the ellipse correctly drawn in ArcMap addin:
![image](https://cloud.githubusercontent.com/assets/4635490/21021970/bf1dd

[2016-12-08 19:12] elinz opened #700 "Distance and Direction WAB widget: unit conversions are being performed on Lines and Ellipse tools"
### Widget
Distance and Direction - Lines and Ellipse tools
### Version of widget
Widget built 08 Dec 2016 05:03 Jenkins build
### Bug or Enhancement
On the Lines tool dialog, if you set a Length or the Angle value and then change the units of measure, the length and angle values are converted to the selected unit.

For example, if I enter in 10000 feet and 90 degrees...
![image](https://cloud.git

[2016-12-08 19:51] MaryClawson opened #701 "The GRG widget cannot be added via web app builder on our development portal"
The work flow is to create a web map and save using a web app and then chose webapp builder tab, then open the widgets tab and select from pick 1 which has GRG at the end of the list, but when you click on it, it never loads.

[2016-12-08 22:38] elinz commented on #701
@MaryClawson @topowright The title for this issue is extremely long. Please move the title info the description of the issue and create a simplified title. Thanks.

[2016-12-09 13:37] kgonzago commented on #687
@elinz Can you provide which browser and version you were testing with?

[2016-12-09 13:38] kgonzago commented on #687
@elinz Can you provide detailed steps to reproduce this issue?

[2016-12-09 15:50] elinz commented on #687
@kgonzago Browser is Chrom 51.0.2704.79 m

[2016-12-09 16:00] elinz commented on #687
@kgonzago Added steps above.

[2016-12-09 16:01] elinz commented on #687
@kgonzago I've also tried this in IE 11.0.9600.18525 and it doesn't work

[2016-12-10 02:30] kgonzago commented on #687
Thanks @elinz. I will look into it.

[2016-12-12 15:28] adgiles commented on #696
The reason why the number is being truncated is because the string.replace is only removing the first comma. When the number is large and contains more commas the number will be truncated: Use the /g flag to tell the replace to do all instances.

Change:
'MINOR': parseFloat(dojoDomAttr.get(this.minorAxisInput, 'value').replace(",",''),2),
to
'MINOR': parseFloat(dojoDomAttr.get(this.minorAxisInput,

[2016-12-12 23:23] elinz commented on #699
@kgonzago The fix for this issue and #107 and #695 were fixed in the master branch of this repo (i.e. https://github.com/Esri/solutions-webappbuilder-widgets) however, Jenkins is building from the Dev branch of https://github.com/Esri/military-tools-webappbuilder.git. Is the Jenkins build being made from the wrong repo or are the fixes being made to the wrong repo?

[2016-12-12 23:29] elinz commented on #695
@kgonzago @ACueva  The fix for this issue and #699 and #107 were fixed in the master branch of this repo (i.e. https://github.com/Esri/solutions-webappbuilder-widgets) however, Jenkins is building from the Dev branch of https://github.com/Esri/military-tools-webappbuilder.git. Is the Jenkins build being made from the wrong repo or are the fixes being made to the wrong repo?

[2016-12-14 09:45] adgiles opened #704 "Distance and Direction WAB widget: A selected tool needs to be deselected between change of tabs"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

When changing tabs within the widget any selected tool needs to be deselected otherwise you end up drawing multiple graphics at once

![bug](https://cloud.githubusercontent.com/assets/3740334/21177207/0aeaba5a-c1e2-11e6-805e-1917bf621417.png)

[2016-12-14 09:55] adgiles opened #705 "Distance and Direction WAB widget: How to stop drawing when using interactive Rang Ringes"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

When drawing Range rings using the interactive option there is no way to stop drawing, the only way I have found is to select the tool again but then it is waiting for a new point to be placed

### Repo Steps or Enhancement details

[2016-12-14 18:21] elinz opened #706 "Coordinate Conversion: dialog "snaps" back to original position when size of browser is altered"
### Widget
Coordinate Conversion
### Version of widget
14 Dec 2016
### Bug or Enhancement
If I move the widget interface to another location within the browser and then change the size of the browser, the widget moves back to the original opened position.

### Repo Steps or Enhancement details
1. Create a web app with the coordinate conversion widget.
2. Save the app and Launch the app.
3. Alter t

[2016-12-14 18:25] elinz opened #707 "Coordinate Conversion: tooltip for format input control should be changed from "Format Output" to "Format Input""
### Widget
Coordinate Conversion
### Version of widget
14 December 2016
### Bug or Enhancement
![image](https://cloud.githubusercontent.com/assets/4635490/21195170/8e5f6b7e-c1e7-11e6-8b71-457f22e421c5.png)

### Repo Steps or Enhancement details

[2016-12-14 18:53] elinz opened #708 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered"
**NOTE: This is an enhancement, but a very critical enhancment**

### Widget
Coordinate Conversion
### Version of widget
14 December 2016
### Bug or Enhancement
When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid output is still displayed. This is extremely dangerous as the user may not have realized th

[2016-12-14 19:13] lfunkhouser commented on #708
This issue was moved to Esri/coordinate-conversion-addin-dotnet#149

[2016-12-14 19:13] #708 closed

[2016-12-14 19:14] lfunkhouser opened #709 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered"
_From @lfunkhouser on December 14, 2016 19:13_

_From @elinz on December 14, 2016 18:53_

**NOTE: This is an enhancement, but a very critical enhancment**

### Widget
Coordinate Conversion
### Version of widget
14 December 2016
### Bug or Enhancement
When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid o

[2016-12-14 20:47] nfeuerstein commented on #705
Does double-clicking work like it does in ArcMap/Pro?

[2016-12-14 20:49] adgiles commented on #705
Yes sorry, Kevin informed me of that earlier. May the tooltip should inform the user as it not obvious

[2016-12-14 20:57] adgiles commented on #687
@elinz @kgonzago I found you have to physically press enter on each of the input boxes in order. You should see the point drawn, then the major axis, minor axis then finally on the rotate the ellipse is drawn

[2016-12-14 21:02] adgiles commented on #698
@elinz @kgonzago fixed can somebody check and close issue

[2016-12-14 21:03] adgiles commented on #696
@elinz @kgonzago fixed can somebody check and close issue

[2016-12-14 21:09] #440 closed

[2016-12-14 21:10] #23 closed

[2016-12-14 21:17] elinz commented on #687
@adgiles @kgonzago I've retested and found that you don't have to hit return on each of the input boxes. In my test...
1. Click in Center Point textbox. Entered coordinate. **I have to hit return**. (NOTE: the center point is never drawn as in my screenshot above).
2. Click in Major axis textbox. Enter value. Don't need to hit return.
3. Click in Minor axis textbox. Enter value. Don't need to hit

[2016-12-14 22:07] lfunkhouser opened #712 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered"
_From @lfunkhouser on December 14, 2016 19:13_

_From @elinz on December 14, 2016 18:53_

**NOTE: This is an enhancement, but a very critical enhancment**

### Widget
Coordinate Conversion
### Version of widget
14 December 2016
### Bug or Enhancement
When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid o

[2016-12-14 22:07] lfunkhouser commented on #712
This issue was moved to Esri/solutions-webappbuilder-widgets#709

[2016-12-14 23:32] elinz commented on #696
@adgiles @kgonzago I'll test.

[2016-12-14 23:43] elinz commented on #696
@adgiles @kgonzago I download the master branch of this repo and tested and I can no longer create an ellipse.

When I attempt to enter numeric values in the major/minor axis' and orientation angle textboxes I receive the error "The value entered must be numeric." for the axis' textboxes...
![image](https://cloud.githubusercontent.com/assets/4635490/21205891/79c0e504-c213-11e6-974d-0b8dc3d906c1.pn

[2016-12-15 09:59] adgiles commented on #705
My Bad on checking again the tooltip is changed after the first circle is drawn

[2016-12-15 09:59] #705 closed

[2016-12-15 10:05] adgiles commented on #696
@elinz

I have changed the controls to allow decimal places, it made sense in my head not to allow, but on rethinking of course you may want to add a decimal place for distances such as kilometres (e.g. 11.5)

[2016-12-15 16:00] elinz commented on #696
Verified fixed. Closing issue.

[2016-12-15 16:00] #696 closed

[2016-12-15 16:24] adgiles commented on #699
After investigation it appears that the geodesicDensify function that we are running on the created ellipse creates geodesic lines between each vertex of the ellipse and not on the whole geometry. We are currently using 60 points to create the ellipse so there is not a noticeable difference.

With Kevin's help we dug into the core javascript code, and a geodesic circle is not created by just apply

[2016-12-15 16:39] elinz opened #713 "Distance and Direction: revert the Orientation Angle control for Ellipses back to textbox"
### Widget
Distance and Direction
### Version of widget
15 Dec 2016
### Bug or Enhancement
The Orientation Angle control type was changed so users can increase/decrease value by clicking up/down arrows on control (see screenshot below). The was changed for some reason. It used to be a textbox. It needs to be changed back to a textbox. 1) All the other controls on the widget use textboxes 2) ArcMap

[2016-12-15 17:51] lfunkhouser opened #714 "Holistic Testing - Coordinate Conversion - WAB 2.1"
_From @adgiles on November 4, 2016 17:59_

I think the name of this widget is confusing as the widget does not perform any coordinate conversion it is simply doing coordinate notation and I suspect it will only work with a base map that is projected in WMAS (srid 102100) or Geographics (srid 4326).

For instance if you use a base map projected in British National Grid the widget display incorrect

[2016-12-15 17:53] elinz opened #715 "Coordinate Conversion: losing positional accuracy between coordinate formats"
**This is an extremely important bug**
### Widget

### Version of widget

### Bug or Enhancement

The widget is not maintaining the same input coordinate positional accuracy in the output values for DD, DDM, and DMS.

For example, I enter 44.608559N 033.528627E for the Input value.  See screenshot below:
![image](https://cloud.githubusercontent.com/assets/4635490/21235609/546b52aa-c2ac-11e6-97ba-e

[2016-12-15 17:58] lfunkhouser opened #716 "Holistic Testing - Visibility Widget - WAB 2.1"
_From @adgiles on November 4, 2016 17:0_

Is this widget complete as I do not see any configuration options for adding an underlying elevation service, when I click the settings button I get the following error:

Uncaught TypeError: Cannot read property 'inputCoordinate' of undefined

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

##

[2016-12-15 17:58] lfunkhouser commented on #716
_From @topowright on December 12, 2016 7:56_

The visibility widget now has a configuration page:

![image](https://cloud.githubusercontent.com/assets/5488313/21091800/727c903a-bffd-11e6-9d24-3809ae973a98.png)

@adgiles please verify.

[2016-12-15 17:58] lfunkhouser commented on #716
_From @topowright on December 12, 2016 7:58_

Just for clarity the gp service should be the one that sets the elevation layer. the widget just needs to point to the gp service.

[2016-12-15 18:25] elinz opened #717 "Coordinate Conversion: "Set Coordinate Format String" control should not exist for Input"
### Widget
Coordinate Conversion
### Version of widget
15 Dec 2016
### Bug or Enhancement
The "Set Coordinate Format String" control for the Input coordinate should not exist on the interface.
1. We want users to be able to enter any coordinate format for input without the user having to set the format.
2. Testing this control has no impact so it appears not to be "wired-up".
3. The ArcGIS Pro and

[2016-12-15 18:28] elinz commented on #707
After further review, I don't believe this control should exist for the Input coordinate. See issue #717.

[2016-12-15 18:41] elinz opened #718 "Coordinate Conversion: UTM coordinate is not being calculated correctly"
### Widget
Coordinate Conversion
### Version of widget
15 December 2016
### Bug or Enhancement
The UTM easting and northing are correct, but not the zone.
### Repo Steps or Enhancement details
Enter: 34KGE3581934434
The UTM value is calculated as: 34S 735819 7934434 but should be 34K 735819 7934434
![image](https://cloud.githubusercontent.com/assets/4635490/21237261/09d957b2-c2b3-11e6-8c91-12ac95c

[2016-12-15 19:10] elinz opened #719 "Coordinate Conversion: "Copy All" button does not include the input coordinate"
### Widget
Coordinate Conversion
### Version of widget
15 December 2016
### Bug or Enhancement
When you click on "Copy All" button, see screenshot below. The input coordinate is not copied with all the output coordinates. If you're copying all the coordinates, you want to know what the input coordinate is associated with all the output values.
![image](https://cloud.githubusercontent.com/assets/46

[2016-12-15 22:45] elinz commented on #717
I'm closing this issue. Upon further investigation, the "Set Coordinate Format String" is indeed used. It's used when you click on the map to specify the input coordinate.

[2016-12-15 22:45] #717 closed

[2016-12-15 22:46] elinz commented on #707
Ignore my previous comment that I don't believe this control should exist. It indeed is used when you specify input coordinates by clicking on the map. The tooltip should still be changed to "Format Input".

[2016-12-16 09:53] adgiles commented on #713
@elinz
Reverted back to text box, also put logic in to change validation rules when the angle type is switched between degrees/mils i.e. max value is either 360/6400

[2016-12-16 10:09] adgiles commented on #691
@elinz @kgonzago Fixed

[2016-12-16 10:14] adgiles commented on #690
@elinz @kgonzago Fixed

[2016-12-16 10:21] adgiles commented on #687
@elinz @kgonzago

Eric, correct the first time round you do not need to hit return on the Major and Minor text boxes as the line is created on the key up event (you will see it being drawn as you type in the number). If you want to create an additional ellipse at a different coordinate or angle with the same minor and major values you will have to click in the text box and hit return to fire the e

[2016-12-16 12:53] adgiles commented on #689
@elinz Fixed please check

[2016-12-16 13:10] adgiles opened #720 "Distance and Direction WAB widget: Range rings drawn interactivley get drawn to the graphics layer incorrect"
### Widget
Distance and Direction WAB widget

### Version of widget
2.1 & 2.2

### Bug or Enhancement

When you draw a range ring interactively it creates a geodesic circle, it then looks like this circle gets the geodesic function applied again when added to the graphics layer

### Repo Steps or Enhancement details

Use the interactive option on the Rings tab to draw a circle that is high or low

[2016-12-16 13:24] adgiles commented on #688
@lfunkhouser @nfeuerstein @elinz @kgonzago
Is the the same issue as https://github.com/Esri/solutions-webappbuilder-widgets/issues/689
If so fixed.

[2016-12-16 14:23] kgonzago commented on #691
@elinz Please verify when you have a moment.

[2016-12-16 15:10] elinz commented on #691
@adgiles @kgonzago Downloaded the master branch of repo, "installed" widget", and tested that the tab is now called "Rings". Fix has now been verified. Closing issue. Thank you.

[2016-12-16 15:10] #691 closed

[2016-12-16 15:17] elinz commented on #688
@adgiles @kgonzago @lfunkhouser @nfeuerstein No, issue #689 is not the same as this. So this issue still needs to be fixed. Thanks.

[2016-12-16 15:20] elinz commented on #689
@adgiles When a fix needs to be verified can you please assign the issue to the person who opened the issue and set the label to verify. It makes it much easier to filter the issues in GitHub that need to be verified. Thanks.

[2016-12-16 15:56] elinz commented on #689
@adgiles I downloaded this widget from the master branch and tested. The radials are not being generated correctly. The radials are intersecting the rings at the wrong locations.

![image](https://cloud.githubusercontent.com/assets/4635490/21268736/c11092cc-c364-11e6-935c-289de359f94e.png)

![image](https://cloud.githubusercontent.com/assets/4635490/21268764/e194f59c-c364-11e6-972d-bb884bc6b2d5.pn

[2016-12-16 16:32] elinz commented on #687
@kgonzago @adgiles This tool is not working as I've described it or @adgiles has described. This is very painful to use.

I created a new app, added the widget, launched the app. Open the widget. Clicked on Ellipse tab and did the following...
1. Entered 55.7723N 037.5649E and hit return (circle is drawn at location).
2. Changed Unit to Kilometers.
3. Entered 1000 in Major axis and hit return (lin

[2016-12-16 16:55] elinz commented on #713
@adgiles Downloaded the widget from the master branch and tested. The message text for indicating an out of bounds value has an extraneous word "than".
![image](https://cloud.githubusercontent.com/assets/4635490/21270842/3a26a8ce-c36d-11e6-8ebc-9b3034c81b59.png)
![image](https://cloud.githubusercontent.com/assets/4635490/21270858/43ccd510-c36d-11e6-9269-d182f347bbb9.png)

Assigning back to you.

[2016-12-16 17:59] lfunkhouser opened #723 "Distance Direction Ellipse Drawing with Arithmetic Rotation in Manual Mode"
_From @pHill5136 on December 13, 2016 20:49_

In manual mode the angle of rotation is arithmetic and should be converted to geographic

_Copied from original issue: Esri/military-tools-webappbuilder#114_

[2016-12-16 17:59] lfunkhouser opened #724 "Graphic Labels are not rendered for Distance and Direction widget in WAB 2.2"
_From @kgonzago on November 4, 2016 18:51_

In WAB 2.2, the labels are not rendered after a line is created. This applies to circles, ellipses and range rings.

_Copied from original issue: Esri/military-tools-webappbuilder#111_

[2016-12-16 17:59] lfunkhouser opened #725 "Allow user to copy information from graphic label created in Distance and Direction Widget"
_From @kgonzago on November 4, 2016 18:47_

The D&D widget renders graphic labels after a shape is drawn. The labels have information about the shape that was created (ex: length, angle, radius). Provide the ability to copy/past those labels.

_Copied from original issue: Esri/military-tools-webappbuilder#110_

[2016-12-16 17:59] lfunkhouser opened #726 "Line in Distance and Direction widgets needs to be an arrow"
_From @kgonzago on November 4, 2016 18:45_

render an arrow to indicate direction the line has been drawn.

_Copied from original issue: Esri/military-tools-webappbuilder#109_

[2016-12-16 18:00] lfunkhouser opened #727 "Coordinate Conversion "Unable to determine input coordinate type""
_From @mfunk on October 3, 2016 18:56_

Type (not paste) in the following coordinates for Mexico City: _19.4326 N, 99.1332 W_ and we get the error: "Unable to determine input coordinate type".

![image](https://cloud.githubusercontent.com/assets/3093182/19049661/3885c5c8-8960-11e6-8c3e-5e3f59d031c8.png)

The coordinates are valid in Google Maps:
![image](https://cloud.githubusercontent.com/assets/

[2016-12-16 18:00] lfunkhouser opened #728 "Ellipse not drawing when keying in coordinate and other parameters Major, Minor, Unit, Orientation"
_From @pshowalter on August 26, 2016 20:22_

I have keyed in parameters as in screen caputure, but not getting ellipse.

![image](https://cloud.githubusercontent.com/assets/6842145/18019295/539a35b2-6ba9-11e6-97cb-514f5e96dad0.png)

_Copied from original issue: Esri/military-tools-webappbuilder#107_

[2016-12-16 18:00] lfunkhouser commented on #728
_From @elinz on December 12, 2016 23:36_

@kgonzago @ACueva The fix for this issue was committed to the https://github.com/Esri/solutions-webappbuilder-widgets repo, however, Jenkins is building from this repo.

[2016-12-16 18:00] lfunkhouser opened #729 "Ellipse rotation not drawn in IE and Firefox"
_From @mfunk on August 16, 2016 16:9_

I'm testing the Ellipse (semi, interactive draw on map) where I'm selecting a center point, then drawing the major axis end point about 65-ish degrees from north away, then drawing the minor axis. This works fine in Chrome...
![image](https://cloud.githubusercontent.com/assets/3093182/17706356/90d964aa-6390-11e6-9edd-a5f1134b6462.png)

But this isn't the case

[2016-12-16 18:00] lfunkhouser commented on #729
_From @adgiles on December 12, 2016 14:14_

@mfunk @nfeuerstein

I cannot replicate this issue:
IE: 11.0.9600.16384
FF: 50.0.2

![ie](https://cloud.githubusercontent.com/assets/3740334/21102187/f7388672-c074-11e6-95e0-106c32f5e930.png)
![ff](https://cloud.githubusercontent.com/assets/3740334/21102190/fa6662c4-c074-11e6-9509-8fb246d8e15b.png)

[2016-12-16 18:00] lfunkhouser opened #730 "Range ring dialog units not matching label results"
_From @mfunk on August 15, 2016 14:48_

In testing range ring labels in the widget, I'm seeing a difference between the unit selected in the dialog (kilometers) and the units of the resulting labels (meters). For example, as I type **200** for the interval and select **kilometers** for the units I'm expecting to see labels for 200, 400, 600, 800, 1000 for the 5 rings. However I'm actually getting

[2016-12-16 18:00] lfunkhouser opened #731 "Distance and Direction widget - Ellipse - Semi and Full options create same ellipse when using same line dimensions."
_From @pshowalter on August 11, 2016 19:30_

@MarkTorrey @kgonzago
Semi and Full options create same ellipse when using same line dimensions.
Choose the Ellipse Type to create.
**Full** means the Axis values are the full width of the ellipse.
**Semi** means the Axis values are only half the width of the ellipse.
If I use same line lengths for Major and Minor, and change Ellipse type from Semi to F

[2016-12-16 18:00] lfunkhouser commented on #731
_From @kgonzago on December 13, 2016 19:39_

This is by design. An ellipse will be created the same regardless of **Full** or **Semi**, **Full** denotes **Major Axis** and **Minor Axis** lengths are twice the lengths of a **Semi**.

[2016-12-16 18:01] lfunkhouser opened #732 "Distance and Direction widget - Line - Distance and Bearing - Angle is being drawn CCW from North"
_From @pshowalter on August 2, 2016 15:48_

@MarkTorrey It is unexpected that when drawing a line using "Distance and Bearing", when typing in angles (45,90, 270, 300) that a positive angle value will be rendered Counter Clockwise from North.  This is opposite of behavior when drawing the line interactively, and noting the angle reported when completing the line.

![image](https://cloud.githubuser

[2016-12-16 18:01] lfunkhouser commented on #732
_From @pshowalter on August 26, 2016 13:54_

- Works for Meters and Feet.
- Issues with this tool when using **Distance and Bearing** with Kilometer, Miles, Nautical Miles.  Green point disappears and no line is created.
- Blue text label on red line hard to read.

[2016-12-16 18:01] lfunkhouser opened #733 "Manual ellipse in Distance Direction has not feedback line on minor axis"
_From @mfunk on July 28, 2016 20:59_

In testing the manual ellipses in Distance Direction on deployment server the second (minor) axis line has no visual feedback graphic between center point and cursor.

![image](https://cloud.githubusercontent.com/assets/3093182/17229182/699ba0de-54cb-11e6-9573-ef39454573c7.png)

The cursor moves, and if you click the ellipse will be created using the point. Th

[2016-12-16 18:01] lfunkhouser commented on #733
_From @pshowalter on July 28, 2016 21:27_

It seems to work in Chrome.
Not working in IE or  FF.
Browser specific issue?

[2016-12-16 18:01] lfunkhouser commented on #733
_From @kgonzago on July 29, 2016 13:8_

@mfunk, Like @pshowalter mentioned, which browser were you testing the widget with?

[2016-12-16 18:01] lfunkhouser commented on #733
_From @kgonzago on July 29, 2016 15:37_

Confirmed it is an issue with IE and FF. Will work on it

[2016-12-16 18:01] lfunkhouser commented on #733
_From @adgiles on December 12, 2016 13:14_

@kgonzago @nfeuerstein @mfunk

The widget just kept returning a type error when calculating the minor axis length using the geometry engine geodesic length function, but only in FF and IE. I could not work out why the browser was doing this as it was happy with the same function call for the major axis length.

I tried changing the unit value 9001 to 'me

[2016-12-16 18:01] lfunkhouser commented on #733
_From @kgonzago on December 12, 2016 14:41_

@adgiles odd geodesicLengths worked. Regardless, thanks for fixing it.

[2016-12-16 18:01] lfunkhouser opened #734 "Coordinate Location icon should be a configurable symbol"
_From @MarkTorrey on June 24, 2016 15:28_

The icon used to display the current coordinate on the map is hard to small and hard to visualize against different basemaps (i.e. imagery). This needs to be updated to use standard map symbology symbol that can be adjusted by the user in the widget settings. @mcalamito  @topowright

_Copied from original issue: Esri/military-tools-webappbuilder#81_

[2016-12-16 18:01] lfunkhouser opened #735 "Create GitHub Pages"
_From @kgonzago on May 2, 2016 14:17_

create github pages to showcase the coordinate conversion and distance and direction widgets.

_Copied from original issue: Esri/military-tools-webappbuilder#36_

[2016-12-16 18:01] lfunkhouser commented on #735
_From @nfeuerstein on December 2, 2016 15:52_

Coordinate Conversion Widget for 2.0 is listed on the Coordinate Conversion page: http://solutions.arcgis.com/defense/templates/coordinate-conversion/

Distance and Direction Widget is not mentioned or listed on the Solutions Pages: http://solutions.arcgis.com/defense/templates/distance-direction/ however, there is a download for it at 2.0: http://app

[2016-12-16 18:01] lfunkhouser commented on #735
_From @Dbarnes1 on December 6, 2016 15:40_

@nfeuerstein with the December release this issue will be resolved, there is documentation waiting in solutions dev for Distance and Direction and Coordinate Conversion: http://solutionsdev.arcgis.com/defense/help/distance-direction/workflows/ellipse-awab/

[2016-12-16 18:02] lfunkhouser opened #736 "Rate of travel needs to reflect the changes to the other add-ins"
_From @topowright on April 11, 2016 6:56_

The rate of travel for the drop down on the Distance Calculator should look and calculate like this:
1. Miles per/sec
2. Miles per/hour
3. Meters per/sec
4. Meters per/hour
5. Kilometers per/sec
6. Kilometers per/hour
7. Feet per/sec
8. Feet per/hour

_Copied from original issue: Esri/military-tools-webappbuilder#8_

[2016-12-16 18:02] lfunkhouser opened #737 "Circle Drawing Radius Distance When Diameter Distance is Selected in Dropdown"
_From @mcalamito on April 7, 2016 19:29_

If I change the Radius dropdown to Diameter and use the Distance Calculator, the circle still draws the calculations based on Radius from center point as opposed to diameter.

_Copied from original issue: Esri/military-tools-webappbuilder#5_

[2016-12-16 18:02] lfunkhouser opened #738 "Allow the Ability to Input Coordinate and Then Input Distance Calculator Parameters to Draw Circle"
_From @mcalamito on April 7, 2016 19:23_

I currently have to enter in Distance Calculator parameters, paste in coordinates/click on the Center Point Coordinate icon, and click on the map in order to get a Circle to draw.

_Copied from original issue: Esri/military-tools-webappbuilder#4_

[2016-12-16 18:02] lfunkhouser commented on #738
_From @nfeuerstein on December 8, 2016 3:28_

Hitting Enter on your keyboard creates the circle.  This should be documented.

[2016-12-16 19:07] lfunkhouser commented on #735
Closing this issue. Verified that the solutions website documentation is now live and include documentation for Distance and Direction and Coordinate Conversion widgets.

[2016-12-16 19:07] #735 closed

[2016-12-20 17:50] elinz opened #739 "Coordinate Conversion: Add support for GEOREF"
### Widget
Coordinate Conversion
### Version of widget

### Bug or Enhancement
According to help doc for the Convert Coordinate Notation gp tool: http://pro.arcgis.com/en/pro-app/tool-reference/data-management/convert-coordinate-notation.htm, the gp tool supports the following formats:
DD, DDM, DMS, GARS, GEOREF, UTM, USNG, and MGRS.

The current addin supports all these same formats except: GEORE

[2016-12-20 18:08] migueldls commented on #399
@jmccausland If we are saying that this tool uses the WGS84 datum I think the tool rounding centimeters up is fine. The WGS84 datum to many is described as a reference frame more than a true datum and only accurate to ~1 to ~2 meters. Considering that the tool is still within the 1 meter tolerance do we need to make a change?

[2016-12-20 22:01] Dbarnes1 commented on #726
Looks like this has been fixed:
![image](https://cloud.githubusercontent.com/assets/13024357/21369559/612ee506-c6bc-11e6-8c6e-bf1248c68def.png)

Not sure where the pr was for this but it's definitely drawing a line now.

[2016-12-20 22:01] #726 closed

[2016-12-20 22:06] Dbarnes1 opened #740 "Distance and Direction - Drop-down for different line types should be removed."
### Widget
Distance and Direction

### Bug or Enhancement
Bug: Widget doesn't support Great Elliptic or Loxodrome line types, but the Dropdown is still present. The drop-down should be removed.

### Repo Steps or Enhancement details
Open distance and direction widget and navigate to the lines tab:

![image](https://cloud.githubusercontent.com/assets/13024357/21369761/464a7b96-c6bd-11e6-84ae-61ac51

[2016-12-20 22:35] elinz commented on #399
@jmccausland @migueldls @nfeuerstein Installed the NGA Geotrans 3.7 and tested the same coordinate...
![image](https://cloud.githubusercontent.com/assets/4635490/21368057/8b624202-c6b5-11e6-8aa4-679caa3e98cf.png)

Geotrans also converted the coordinate 40 -121 to 10TFK7072529672, whereas our ArcGIS Pro addin, ArcMap addin and Web AppBuilder widget converts to 10TFK7072529673.

According to @kgonza

[2016-12-20 22:37] nfeuerstein commented on #399
@kgonzago @elinz can the geometry service be easily configured to point elsewhere?  If you use this widget on an air-gapped network (zero connection to the www) will it fail since its pointing to an AGO geometry service?

[2016-12-20 22:39] elinz commented on #399
@nfeuerstein @kgonzago The web app containing the widget can be re-configured to point to an internal geometry service, which @Dbarnes1 tested the other week when testing the GRG widget.

[2016-12-20 22:41] nfeuerstein commented on #399
In that case, I agree with your recommendation.  Leave it alone and we can entertain a future enhancement for configure rounding options.

[2016-12-20 22:43] elinz commented on #399
@nfeuerstein @kgonzago FYI. Here is a blog, which explains how to configure a web appbuilder app in a disconnected enviroment... https://blogs.esri.com/esri/arcgis/2016/11/02/deploying-web-appbuilder-for-arcgis-developer-edition-in-a-disconnected-portal-for-arcgis-environment/

[2016-12-20 22:45] elinz commented on #399
@nfeuerstein If it's ok with you, I'll go ahead and change the milestone to after next and change the label to an enhancement.

[2016-12-20 22:50] nfeuerstein commented on #399
Sounds good @elinz

[2016-12-21 19:29] Dbarnes1 commented on #693
@kgonzago @elinz just adding my support of this enhancement, particularly in regards to width, in reviewing the doc for this widget I'm having to go back and create doc for using Radials because I missed it the first time.

[2016-12-21 21:30] elinz opened #741 "Coordinate Conversion does not handle coordinates entered in Long Lat order"
### Widget
Coordinate Conversion

### Version of widget
21 Dec 2016 09:22
### Bug or Enhancement
The Coordinate conversion addin for ArcMap and ArcGIS Pro handles both Lat Long and Long Lat. The widget should handle both Lat Long and Long Lat as well.

### Repo Steps or Enhancement details

[2016-12-21 23:13] elinz opened #742 "Distance and Direction - Line tool: starting/ending point parameters do not handle coordinates entered in Long Lat order"
### Widget
Distance and Direction
### Version of widget
21 Dec 2016 09:21
### Bug or Enhancement
All tools that allow user to type in coordinates should allow users to enter Lat Long or Long Lat.

Allows Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21409583/ef6504d0-c78f-11e6-9974-a0e618f424b6.png)

Does not allow Long Lat...
![image](https://cloud.githubusercontent.com/

[2016-12-21 23:54] elinz opened #743 "Distance and Direction - Circle tool: Center point parameter does not handle coordinates entered in Long Lat order"
### Widget
Distance and Direction
### Version of widget
21 Dec 2016 09:21
### Bug or Enhancement
All tools that allow user to type in coordinates should allow users to enter Lat Long or Long Lat.

Allows Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410448/a684ff9e-c795-11e6-8b47-c994b1de323e.png)

Does not allow Long Lat...
![image](https://cloud.githubusercontent.com/

[2016-12-22 00:04] elinz opened #744 "Distance and Direction - Ellipse tool: Center point parameter does not handle coordinates entered in Long Lat order"
### Widget
Distance and Direction
### Version of widget
21 Dec 2016 09:21
### Bug or Enhancement
All tools that allow user to type in coordinates should allow users to enter Lat Long or Long Lat.

Allows Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410642/14331b38-c797-11e6-8258-02226592b517.png)

Does not allow Long Lat...
![image](https://cloud.githubusercontent.com/

[2016-12-22 00:10] elinz opened #745 "Distance and Direction - Rings tool: Center point parameter does not handle coordinates entered in Long Lat order"
### Widget
Distance and Direction
### Version of widget
21 Dec 2016 09:21
### Bug or Enhancement
All tools that allow user to type in coordinates should allow users to enter Lat Long or Long Lat.

Allows Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410750/fb14171e-c797-11e6-954a-cd66a9996cb6.png)

Does not allow Long Lat...
![image](https://cloud.githubusercontent.com/

[2016-12-22 15:39] kgonzago commented on #693
@Dbarnes1 @elinz Resizing the widget can be achieved in the WAB app's config.json. Here is a doc link that explains how to do it: https://developers.arcgis.com/web-appbuilder/api-reference/widget-on-screen-configuration.htm. A user also asked the same question on GeoNet: https://geonet.esri.com/thread/121509. I recommend we add how to resize the widget to the widget's doc.

[2016-12-22 15:41] kgonzago commented on #735
FYI the GitHub pages have been updated to showcase latest widget development: http://esri.github.io/solutions-webappbuilder-widgets/

[2016-12-22 15:47] Dbarnes1 commented on #693
@kgonzago I can add that to the doc for the widgets. Thanks for the link.

[2016-12-22 15:48] kgonzago commented on #733
Closing this since it was addressed in [commit](https://github.com/Esri/solutions-webappbuilder-widgets/commit/8c7fac1bdb1ad5398f9bec7c61dcced0dd29db46)

[2016-12-22 15:48] #733 closed

[2016-12-22 15:51] kgonzago commented on #716
Verified. Widget does have a configuration page.

[2016-12-22 15:51] #716 closed

[2016-12-22 16:10] Dbarnes1 opened #746 "Coordinate Conversion- Add New Notation button doesn't work"
### Widget
Coordinate Conversion

### Bug or Enhancement
Bug

### Repo Steps or Enhancement details
From the configuration page, I'm able to configure the output notations, but once I get into the widget itself and try to click the Add New Notation button, nothing happens. I'm expecting an add new notation window but the button just isn't working.

This is the button I'm referencing in the widget:

[2016-12-22 17:15] kgonzago commented on #731
Closing this issue since it's by design.

[2016-12-22 17:15] #731 closed

[2016-12-22 17:28] kgonzago commented on #728
Verified jenkins is pulling from right repo.

[2016-12-22 17:41] kgonzago commented on #746
@Dbarnes1 A new output notation is created at the bottom of the existing list of notations when you click on the add button. I can see that it's a bit deceiving when nothing happens. Adding a notation window will require some work but can be accomplished in our next release. For now, can you note it in the widget doc? Thanks.

[2016-12-22 17:53] kgonzago commented on #740
@Dbarnes1 can you verify when you have a moment?

[2016-12-22 17:58] Dbarnes1 commented on #740
![image](https://cloud.githubusercontent.com/assets/13024357/21435165/19fa749e-c82d-11e6-881e-3d5769260acf.png)
@kgonzago verified, closing.

[2016-12-22 17:58] #740 closed

[2016-12-22 18:12] nfeuerstein commented on #714
@Dbarnes1 is this, as well as the ArcMap and Pro add-ins, fully documented in a way that the user understand that the tool is only converting notation, not datums?

[2016-12-22 18:16] Dbarnes1 commented on #714
@nfeuerstein yes.
 This is the first sentence of the overview topic for coordinate conversion in both the widget, arcmap, and pro (the word notation is key):

Coordinate Conversion allows users to input coordinates and quickly convert them between several common coordinate notation formats; including Universal Transverse Mercator (UTM), Degrees Minutes Seconds (DMS), and Military Grid Reference Sy

[2016-12-22 22:52] nfeuerstein commented on #738
@Dbarnes1 @dfoll @NatalieCampos is this documented?  Hitting Enter to create the circle.

[2016-12-22 23:01] nfeuerstein commented on #714
Addressed through documentation.

[2016-12-22 23:01] #714 closed

[2016-12-22 23:02] dfoll commented on #738
@nfeuerstein the stuff i wrote has it just as one of the steps "press enter" i would not want to speak for the other two, without them saying exaxtly how they wrote their stuff

[2016-12-22 23:03] nfeuerstein commented on #709
Duplicate of https://github.com/Esri/solutions-webappbuilder-widgets/issues/712.  Closing.

[2016-12-22 23:03] #709 closed

[2016-12-22 23:07] nfeuerstein commented on #697
@dhagens was this fixed and can be moved to verify?

[2016-12-22 23:13] elinz commented on #697
@nfeuerstein Installed latest widgets. Control has been added. I'm testing it now.

[2016-12-22 23:13] nfeuerstein commented on #699
@kgonzago @adgiles has it been determined whether or not we can support geodetic circles with this widget?  Are lines and ellipses geodesic?

[2016-12-22 23:21] elinz commented on #697
@nfeuerstein @dhagens Tested with widget dated 22 Dec 2016 13:08 and control has been added and I've verified that it's working. Closing issue.

[2016-12-22 23:21] #697 closed

[2016-12-23 17:49] kgonzago commented on #699
@nfeuerstein Circles, line and range rings are geodesic but ellipses are not at the moment. It's a limitation in the API for now.

[2017-01-03 16:57] Dbarnes1 commented on #738
@dfoll @nfeuerstein I wrote the same step down for arcmap and wab, modeling the doc after Dereks

[2017-01-04 15:47] kgonzago commented on #732
This issue was resolved with [PR](https://github.com/Esri/military-tools-webappbuilder/commit/283e7adf198d4d2a0a7aee509ec4fdbc9b274f62)

[2017-01-04 15:47] #732 closed

[2017-01-04 15:55] elinz opened #749 "Coordinate Conversion is automatically correcting invalid input coordinates"
### Widget
Coordinate Conversion
### Version of widget
04 Jan 2017 05:15
### Bug or Enhancement
The widget is automatically correcting invalid input coordinate. For example, if I enter the following coordinate:
45 15 80N 100 30 00W
Where the seconds is incorrect for the latitude, the widget modifies the input coordinate so it's a valid coordinate. See the screenshot below. The widget has converted

[2017-01-04 15:57] kgonzago commented on #724
The labels are rendered accordingly after a line, circle, ellipse and/or range ring is created. A user will need to add `showLabels` in the `mapOptions` of the app config.json file and set that parameter to `true`.

[2017-01-04 15:57] #724 closed

[2017-01-04 23:47] elinz commented on #718
Another example, enter:  45.0N 100.0W
The output UTM is calculated as 14N 421184 4983436 but should be 14T 421184 4983436
![image](https://cloud.githubusercontent.com/assets/4635490/21663435/069369d4-d295-11e6-9c19-9014b84fc9ed.png)

[2017-01-04 23:59] elinz opened #751 "Coordinate Conversion: default formatting for USNG doesn't match MGRS and Pro/ArcMap addins"
### Widget
Coordinate Conversion
### Version of widget
04 Jan 2017 13:38
### Bug or Enhancement
The default formatting for USNG shouldn't have any spaces in the output value; i.e. same formatting as MGRS default output. The USNG output in Coordinate Conversion Pro and ArcMap add-ins do not include any spaces. Also ArcMap identify tool does not embed spaces in the USNG coordinate value.
![image](ht

[2017-01-05 20:50] elinz opened #752 "Doc-Coordinate Conversion: include section/appendix that lists the supported notation formats"
### Widget
Coordinate Conversion
### Version of widget

### Bug or Enhancement
We need to add a section or appendix to the widget  .pdf that describes all the supported notation formats.
We can format it similar to how the Pro/ArcMap help topics are formatted. We need to document because the widget doesn't support all the notations that are supported in Pro and ArcMap.

http://pro.arcgis.com/en/pr

[2017-01-05 20:58] kgonzago commented on #698
verified.

[2017-01-05 20:58] #698 closed

[2017-01-05 21:02] kgonzago commented on #699
@nfeuerstein we will need to doc this limitation in our documentation.

[2017-01-06 07:58] topowright commented on #736
Verified

[2017-01-06 07:58] #736 closed

[2017-01-06 07:59] topowright commented on #701
Being that this is not a supported workflow I am going to un assign myself.

[2017-01-06 16:11] kgonzago commented on #699
@Dbarnes1, can this limitation be added to our docs?

[2017-01-06 16:13] Dbarnes1 commented on #699
@kgonzago I'll make sure it gets added, I'm assigning this issue to me so I don't forget.

[2017-01-06 16:16] kgonzago commented on #693
Closing this since it will be addressed in our docs.

[2017-01-06 16:16] #693 closed

[2017-01-06 16:17] kgonzago commented on #690
Verified.

[2017-01-06 16:17] #690 closed

[2017-01-06 16:30] kgonzago commented on #650
@dfoll Can you verify when you get a chance?

[2017-01-06 16:45] Dbarnes1 commented on #699
@kgonzago limitation has been added to Ellipse topics in Distance and Direction Widget doc, assigning to @dfoll to verify that is the proper place to document this limitation.

[2017-01-09 08:53] adgiles commented on #713
@elinz removed the extra word

[2017-01-09 09:04] adgiles commented on #729
@mfunk @nfeuerstein Please can you confirm if this is still an issue or can this be closed?

[2017-01-09 11:27] adgiles commented on #720
@kgonzago

When drawing the circles from the clicked locations the radius of the circle was being determined using the geometry engine distance function which returns a planar distance instead of a geodesic length. I changed the function to use geodesicLength instead which seems to have fixed the issue.

Please can you do an independent check

[2017-01-09 11:29] adgiles commented on #689
@elinz @kgonzago
redesigned how the code was creating the radials should be fixed now, please can someone check

[2017-01-09 17:00] elinz commented on #689
@adgiles @kgonzago I will verify.

[2017-01-09 18:57] elinz commented on #689
@adgiles @kgonzago @nfeuerstein The radials are now being drawn correctly, see screenshot below:
![image](https://cloud.githubusercontent.com/assets/4635490/21778886/0d672aac-d65a-11e6-9412-f4c2e4f8abb6.png)

The positional of where the rings and radials are drawn is slightly different that what the ArcMap addin creates. I think about 6 miles, which at this point I believe is do to the density of

[2017-01-09 18:57] #689 closed

[2017-01-09 18:59] kgonzago commented on #720
@adgiles will do.

[2017-01-09 19:07] elinz opened #754 "Distance and Direction: the Set Coordinate String icon disappears when cursor is placed over it"
### Widget
Distance and Direction
### Version of widget
09 Jan 2017
### Bug or Enhancement
![image](https://cloud.githubusercontent.com/assets/4635490/21779226/8809db8c-d65b-11e6-9257-92e0dbce5b75.png)

When I move the cursor so it's on top of the icon, the icon disappears...
![image](https://cloud.githubusercontent.com/assets/4635490/21779248/a49dbd18-d65b-11e6-9e3e-51a3f11a4990.png)

This issue

[2017-01-09 19:08] elinz commented on #713
@adgiles Verified. Closing this issue.

[2017-01-09 19:08] #713 closed

[2017-01-09 19:28] Dbarnes1 opened #755 "Visibility widget won't load if there is no published GP service- needs warning"
Visibility Widget

If you deploy the visibility widget to an app in webappbuilder, you won't see anything except the widget page endlessly loading if you don't have the required GP service. An enhancement would be a warning saying that you need to add the service.

![image](https://cloud.githubusercontent.com/assets/13024357/21779961/abd0d586-d65e-11e6-9231-a6530f7a0a7c.png)

[2017-01-09 19:31] elinz commented on #728
@kgonzago I've tested, and was able to create an ellipse, but not sure if the input behavior is working as intended. I was testing within web app builder and
@kgonzago
- Type in 40N 102W in Center point textbox and enter return. The small black circle draws.
- Enter 220000 in the Major textbox and enter return. The major axis is drawn.
- Enter 10000 in the Minor textbox and enter return. The minor

[2017-01-09 19:58] Dbarnes1 opened #756 "Distance and Direction- Circle creation from coordinates doesn't happen with "enter." Also no zoom"
When I am in the circle tab for the distance and direction widget, and I enter a coordinate pair and click "enter/return," I expect the map to zoom to the place where I can view a preview of the circle. This doesn't happen. In fact, in order to get the circle preview to appear, I have to click away from the box to get this to appear.

To replicate:
- Navigate to circle tab in distance and directio

[2017-01-09 20:20] BobBooth commented on #755
@Dbarnes1 - I ran into this too.

[2017-01-09 20:30] BobBooth commented on #756
@Dbarnes1 - I am seeing something similar with the ellipse tab.
I set a center point using MGRS:
17TMF8018623395
Type in values for major and minor axis, set units (miles)
Set the angle and hit Enter - no ellipse created.

[2017-01-09 20:59] BobBooth opened #757 "Doc typo - missing space between words Distance and Direction widget"
Distance and Direction (Doc) on page 12 "Configure the distance and direction widget" there needs to be a space between The and confic and in step 5 and Save and config.json in step 7.
theconfig.json
Saveconfig.json and refresh the application to view labels within the widget.

[2017-01-09 21:01] BobBooth commented on #756
@dfoll @Dbarnes1 - the doc indicates that this workflow should work.
Create ellipses from known coordinates
Create circles from known coordinates

[2017-01-09 21:07] BobBooth commented on #757
Fixed.

[2017-01-09 21:58] Dbarnes1 commented on #756
@bobbooth the ellipse issue has been more specifically documented @elinz here: https://github.com/Esri/solutions-webappbuilder-widgets/issues/728

Thanks for pointing out the doc element. If these bugs don't get fixed in time for release, the doc will have to be specifically rewritten to accommodate them.

[2017-01-09 22:07] Dbarnes1 opened #758 "Distance and Direction Rings tab: upon enter, Center Point should appear and zoom"
Currently, when navigating in the rings tab and adding a coordinate pair to the Center Point box, I expect to click enter and see the map zoom to this location and see a circular preview. However, I can only see a center point when I click away from the map, and I can't get the zoom to work at all.

To reproduce:
navigate to rings tab
enter specific coordinate pair as center point (33, 6 is in Alg

[2017-01-09 22:55] mfunk opened #759 "Visibility's Viewshed service script not producing expected results."
### Widget
Visibility

### Version of widget
WAB 2.2/ArcMap 10.4.1

### Bug or Enhancement
Using a local, projected (World Azimuthal Equidistant) raster dataset (TIF) as a source elevation dataset. I can run the tool without warning or errors, but:
1) The tool does not produce a viewshed, only fullwedge and wedge datasets.
2) The features produced are about 1600 miles from the location of their in

[2017-01-09 23:03] elinz commented on #715
The format of the input coordinate needs to altered as well. The screenshot above shows a DD coordinate that I pasted into the input textbox that has 6 decimal places, however, if you choose to interact with the map to obtain the coordinate, the widget only captures out to 2 decimal places for the input, which approx. equates to 1.1 Kilometers on the ground.

For more info see the following issues

[2017-01-09 23:05] Dbarnes1 commented on #759
@mfunk I was getting the same results while testing today.

[2017-01-10 00:19] Dbarnes1 commented on #757
verified. closing

[2017-01-10 00:19] #757 closed

[2017-01-10 00:29] elinz commented on #699
@lfunkhouser @Dbarnes1 @kgonzago Assigning this back to @dfoll to verify addition to documentation.

[2017-01-10 10:02] adgiles commented on #728
@kgonzago @elinz

When the input box type was changed from a number spinner back to a text box I forgot to check the method for grabbing the value within the box was the same, which is isn't. Changed this.angleInput.value to this.angleInput.displayedValue. Please can you confirm this fixes the issue

[2017-01-10 10:28] adgiles commented on #730
@mfunk I cannot replicate this issue please can you confirm is still exists if not please close

[2017-01-10 10:47] adgiles commented on #723
@pHill5136   Patrick I am not sure what this bug refers to, the ellipse is drawn with the major axis at the angle specified in the input box; with 0 being north. Please can you confirm if this is still an issue?

[2017-01-10 12:50] adgiles commented on #758
@Dbarnes1 @kgonzago

Dan I have fixed this issue and made sure it is consistent across all 4 tabs (Lines,Circle,Ellipse,Rings). On hitting enter the point is added and the map pans to center on that coord  (I haven't put a zoom on this as the user could find it irritating if the map zooms in, then they have to zoom back out to perform next action).

[2017-01-10 12:57] adgiles commented on #756
@Dbarnes1 @kgonzago @BobBooth

Dan I have fixed this issue and made sure it is consistent across all 4 tabs (Lines,Circle,Ellipse,Rings). On hitting enter the point is added and the map pans to center on that coord (I haven't put a zoom on this as the user could find it irritating if the map zooms in, then they have to zoom back out to perform next action).

[2017-01-10 13:07] adgiles commented on #754
@elinz @kgonzago

Eric, I cannot replicate this issue tried using the following browsers:

- Chrome Version 55.0.2883.87
- Firefox Version 50.1.0
- IE Version 11.0.9600.16384

if you check your network traffic when you hover over do you see a request for the following image:

{your URL}/widgets/DistanceAndDirection/images/setting_default.png

and do you get the image returned?

[2017-01-10 13:25] adgiles commented on #687
@elinz @kgonzago

Eric this should be fixed with the same fix for #728. Please confirm and close issue if done

[2017-01-10 13:31] adgiles opened #760 "Distance and Direction WAB widget: Line bearing and distance not updated with manual input"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

If you create a line by manually by entering a start coordinate and end coordinate the line draws but the length and bearing values do not update and the label displays incorrect values

![1](https://cloud.githubusercontent.com/assets/3740334/21807929/e4d8dc18-d738-11e6-8422-bc2c592afee5.png)

[2017-01-10 13:40] adgiles opened #761 "Distance and Direction WAB widget: End Point coordinate on the line tab does not format like all other coordinate boxes"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

The end point coordinate text box does not behave the same as the start point text box (or other coordinate boxes in the widget). It does not format the input coordinate

![1](https://cloud.githubusercontent.com/assets/3740334/21808237/4da5151c-d73a-11e6-9e3a-411f4fb5c7a5.png)

[2017-01-10 15:46] adgiles commented on #718
@elinz @nfeuerstein @kgonzago

Eric,

The AGS Geometry Service provides two ways of outputting UTM grid zones:

- UTMNorthSouth:
       Outputs UTMZone number followed by a north/south latitude indicator then grid eg: 34S 735819 7934434
- UTMDefault:
      Outputs UTMZone number followed by 100-km square letter then grid eg: 34K 735819 7934434

The tool is using UTMNorthSouth so the output is corr

[2017-01-10 16:29] nfeuerstein commented on #718
This is what NGA has to say about UTM:

- Since the above expresses two possible positions on the earth, the hemisphere may also be specified, e.g. “580817mE, 4251205mN, Zone 15, Northern Hemisphere” (Figure 4).
- Many systems abbreviate the above, representing the hemisphere as a single letter, “N” for northern hemisphere, and “S” for southern hemisphere, e.g. “15N 580817 4251205”.
- CAUTION: IN

[2017-01-10 16:47] lfunkhouser commented on #718
@Dbarnes1 @dfoll This needs to be added to the documentation explaining hemisphere vs zone and this tool uses hemisphere

[2017-01-10 16:54] pHill5136 commented on #723
![elipse-wab](https://cloud.githubusercontent.com/assets/4691261/21815355/26573720-d711-11e6-84c0-30eddfd958b6.png)

These are ellipses both drawn with a azimuth of 96.5 degrees. The one on left was drawn interactively, the one on right was drawn using manual input. It appears that the manual input ellipse is not converting from arithmetic to geographic rotation. In arithmetic rotation starts at d

[2017-01-10 17:06] kgonzago commented on #728
@elinz can you verify?

[2017-01-10 18:16] mfunk commented on #759
Assuming it's something in the .PY I'm going to check it out. @kgonzago  which branch should I pull from to work on a fix for Visibility widget?

[2017-01-10 18:28] kgonzago commented on #759
@mfunk Master branch.

[2017-01-10 18:37] kgonzago commented on #720
verified.

[2017-01-10 18:37] #720 closed

[2017-01-10 18:51] elinz commented on #728
@adgiles @kgonzago Tested with build 10 Jan 2017 05:53 of the Distance and Direction widget and the behavior for creating an ellipse is what I would expect.

Now:
- Type in 40N 102W in Center point textbox and enter return. The small black circle draws.
- Enter 220000 in the Major textbox (don't enter return). The major axis is drawn.
- Enter 100000 in the Minor textbox (don't enter return). The m

[2017-01-10 18:51] #728 closed

[2017-01-10 18:58] kgonzago commented on #723
@pHill5136 I can't reproduce using the latest. Can you re-verify using the latest widget?

[2017-01-10 19:02] Dbarnes1 commented on #756
@adgiles I've been able to verify the workflow and it makes sense along with the documentation. closing.

[2017-01-10 19:02] #756 closed

[2017-01-10 19:04] Dbarnes1 commented on #758
this has been fixed, except for:
![image](https://cloud.githubusercontent.com/assets/13024357/21820430/709ed9c4-d724-11e6-8534-695d1053ab60.png)

Not sure why (UNKNOWN) is appearing in the UI. Assigning back to @adgiles to take a look. @kgonzago fyi.

[2017-01-10 19:05] elinz opened #762 "Distance and Direction: Ellipse tool - major/minor axis not modified after units is changed"
### Widget
Distance and Direction
### Version of widget
10 Jan 2017 05:53
### Bug or Enhancement
The major and minor axis are not altered when user modifys the unit's value. So it creates an incorrect ellipse.

### Repo Steps or Enhancement details

- Enter in a center point and hit return (temp black center point circle is drawn):
![image](https://cloud.githubusercontent.com/assets/4635490/218201

[2017-01-10 19:11] elinz commented on #754
@adgiles @kgonzago I can't replicate this today. I'm going to closing this issue.

[2017-01-10 19:11] #754 closed

[2017-01-10 19:21] elinz commented on #687
@kgonzago @adgiles Verified this is working using build 10 Jan 2017 05:53 of widgets both in Web App Builder 2.2 and in a web app deployed to a Web Server. Closing this issue.

[2017-01-10 19:21] #687 closed

[2017-01-10 19:21] dfoll opened #763 "PDF for Web AppBuilder needs an introduction"
pdf for Web AppBuilder needs an introduction similar to the pdfs for ArcGIS Pro and ArcMap

recommend starting from one of those and tailoring the info to be applicable to Web AppBuilder

[2017-01-10 19:35] mfunk commented on #759
Making a few changes and so far tool output looks good. Still need to test as a service, then see if it works in the widget.

- 'projecting' input points to same SR as elevation.
- symbology (.LYR) for all three output layers.
- Error if input surface is NOT projected.

![image](https://cloud.githubusercontent.com/assets/3093182/21821120/2f260064-d727-11e6-83d1-bf3ff8d1078f.png)

[2017-01-10 19:44] elinz commented on #718
@adgiles @nfeuerstein @dfoll @Dbarnes1 The widget is using UTMNorthSouth, however, the ArcMap and ArcGIS Pro addins are using UTMDefault. If we're going to leave the widget as UTMNorthSouth then the ArcMap and ArcGIS Pro addins have to be altered to use the same, otherwise we are not consistent across our tools.

The site http://earth-info.nga.mil/GandG/coordsys/grids/utm.html which I believe @nfe

[2017-01-10 19:50] nfeuerstein commented on #718
I agree with the need for consistency across our tools here.  Earlier this morning we discussed adding a second UTM option, so that the user could choose between UTM N/S and UTM GRID, or show both if they so please.  This is the best case scenario, but outside what we can accomplish in the next few days.  I was under the impression that ArcMap/Pro were calling hemisphere identification as well...b

[2017-01-10 19:54] elinz commented on #718
There are other options we have to consider to expose for uses to set for future releases with regard with coordinates such as whether to round or not round MGRS. I'm sure there are others. But all left for a future discussion :)

[2017-01-10 21:41] pHill5136 commented on #723
@kgonzago @adgiles After further investigation found I was deploying older version of the widget. This one appears to have already been fixed. closing

[2017-01-10 21:41] #723 closed

[2017-01-10 22:56] nfeuerstein commented on #755
@Dbarnes1 is the process of adding the service documented?

[2017-01-10 23:29] Dbarnes1 commented on #755
@nfeuerstein this workflow is indeed documented, but I'm going to run through it again to see if we need to adjust any of the steps now that @mfunk was able to successfully publish the gp service

[2017-01-11 00:27] dfoll commented on #699
looks to me like @Dbarnes1 made these changes in two places in the documentation (under both ellipse topics). verified.

![image](https://cloud.githubusercontent.com/assets/5322669/21830444/94497672-d751-11e6-8bee-03765d100c0b.png)
![image](https://cloud.githubusercontent.com/assets/5322669/21830447/996e2c1a-d751-11e6-8286-2b7e5389f16f.png)

[2017-01-11 00:27] #699 closed

[2017-01-11 01:32] kgonzago commented on #761
@Dbarnes1 Can you verify when you get a chance?

[2017-01-11 02:56] elinz commented on #695
Verified this is working in widget build 10 Jan 2017 05:53. Tested entering coordinates and other parameters through keyboard as well as interacting with map. Test lines, circles, ellipse, and rings. All graphics remained visible on map when I closed the widget. Closing issue.

[2017-01-11 02:56] #695 closed

[2017-01-11 03:32] elinz commented on #688
@nfeuerstein @adgiles @kgonzago Tested on 10 Jan 2017 15:25 build of widget. Density of lines, circles, and ellipses look good. However, there was no change in density to range rings. Assigning back to @adgiles and @kgonzago
![image](https://cloud.githubusercontent.com/assets/4635490/21834608/488e98a6-d76b-11e6-863e-a241be384efd.png)

[2017-01-11 08:27] adgiles commented on #761
@Dbarnes1 @kgonzago

I can verify this is working correctly now.

Closing Issue

[2017-01-11 08:27] #761 closed

[2017-01-11 09:33] adgiles opened #765 "Distance and Direction WAB widget: Line created using Distance & Bearing only ever gets created in meters"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

On the line tab of the distance and direction widget if you create a line using distance and bearing the units of measure ignored and the line is only ever created in meters

### Repo Steps or Enhancement details

navigate to lines tab
change the from select box to 'Distance and Bearing'
enter

[2017-01-11 09:39] adgiles commented on #765
@kgonzago

looking at the code, in the createManualGraphicDistanceAndBearing function the radius of the circle is set by getting the length input value but does not do any conversion if the unit value is not meters:

var l = this.lengthInput.get('value');

this needs to be converted to meters:

var l = this.dt._utils.convertToMeters(this.lengthInput.get('value'), this.lengthUnitDD.get('value'));

[2017-01-11 09:46] adgiles commented on #760
@kgonzago @elinz

Bug fixed can somebody do an independent check

[2017-01-11 09:47] adgiles commented on #765
@kgonzago @elinz

Bug fixed can somebody do an independent check

[2017-01-11 10:09] adgiles commented on #758
@Dbarnes1

Issue fixed please can you verify

[2017-01-11 10:25] adgiles commented on #700
@elinz @kgonzago

Fixed please verify

[2017-01-11 13:00] adgiles commented on #704
@kgonzago

Fixed please verify all functioning correctly

[2017-01-11 13:13] adgiles opened #766 "Distance and Direction WAB widget: Circle labels only ever show meters"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

When drawing circles the label that gets created is only ever displayed in meters and not converted to the units in use

![1](https://cloud.githubusercontent.com/assets/3740334/21849834/bf57ee44-d7ff-11e6-9d05-d83fe894ed9a.png)

[2017-01-11 13:20] adgiles opened #767 "Distance and Direction WAB widget: Cannot create multiple circles without clearing previous"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

When using the circle tab you cannot draw subsequent circles without clearing the graphics first

### Repo Steps or Enhancement details

[2017-01-11 13:20] adgiles commented on #767
@kgonzago

Fixed please verify

[2017-01-11 14:30] adgiles commented on #766
@kgonzago

Fixed please verify. Also took this opportunity to ensure the unit values are added on to the labels, so if a user is drawing multiple geometries with different units they can see visually see the difference

[2017-01-11 14:41] adgiles commented on #762
@elinz

Fixed please verify

[2017-01-11 14:54] Dbarnes1 commented on #758
@adgiles verified:
![image](https://cloud.githubusercontent.com/assets/13024357/21853142/c1af2656-d7ca-11e6-827d-1bab6b907852.png)

closing

[2017-01-11 14:54] #758 closed

[2017-01-11 15:01] adgiles opened #768 "Distance and Direction WAB widget: Line created using Distance & Bearing in Mils is incorrect"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

On the line tab of the distance and direction widget if you create a line using distance and bearing with the angle units set as mils the number is multipled by 17.777777778 which is the formula for converting degrees to mils. This should not be applied

### Repo Steps or Enhancement details

n

[2017-01-11 15:16] adgiles commented on #768
@kgonzago

Fixed please verify

[2017-01-11 15:30] Dbarnes1 commented on #738
verified that the functionality is working properly and matches the documentation, closing out.

[2017-01-11 15:30] #738 closed

[2017-01-11 16:46] adgiles opened #770 "Distance and Direction WAB widget: Creating a circle manually using diameter causes the browser to freeze"
### Widget

Distance and Direction WAB widget

### Version of widget

2.1 & 2.2

### Bug or Enhancement

On the circle tab of the distance and direction widget if you create a circle manually using
Create Circle From 'diameter' the browser freezes

### Repo Steps or Enhancement details

navigate to circles tab
change the Create Circle From select box to 'diameter'
enter specific coordinate pair as

[2017-01-11 18:57] elinz opened #771 "Doc-Distance and Direction: directions for adding "mapOptions" property to config.json not accurate"
@Dbarnes1 @dfoll  FYI.
### Widget
Distance and Direction

### Version of widget
Doc with build 11 Jan 2017 09:51
### Bug or Enhancement

- Step 6 shown in screenshot: we instruct the user to server for "mapoptions": { }
![image](https://cloud.githubusercontent.com/assets/4635490/21861744/fb24964e-d7ea-11e6-8d53-a4ee7d3e9e15.png)
They won't find the json property to edit using this search term as t

[2017-01-11 19:17] elinz commented on #700
@adgiles @kgonzago Verified that this issue was fixed in build 11 Jan 2017 09:51. I texted all input controls that had an associated units control on for Lines, Circle, Ellipse, and Rings. Closing issue.

[2017-01-11 19:17] #700 closed

[2017-01-11 19:34] elinz commented on #760
@adgiles @kgonzago Tested the fix on build 11 Jan 2017 09:51 of the widget. This issue is only half fixed. According to "Bug or Enhancement" statement about: "If you create a line by manually by entering a start coordinate and end coordinate the line draws **_but the length and bearing values do not update and the label displays incorrect values_**"

Repo steps:
1. Length unit set to Kilometers; A

[2017-01-11 20:08] elinz commented on #762
@adgiles @kgonzago Verified that this issue was fixed in build 11 Jan 2017 09:51

[2017-01-11 20:08] #762 closed

[2017-01-11 20:23] elinz opened #772 "Distance and Direction - Rings tool creates incorrect output when number of radials is set to 0"
### Widget
Distance and Direction
### Version of widget
build 11 Jan 2017 09:51
### Bug or Enhancement
When "Number of Radials" is set to 0, the widget creates radials:
![image](https://cloud.githubusercontent.com/assets/4635490/21864793/3f701460-d7f8-11e6-9341-ab77d74496ff.png)

Radials are optional for Rings so entering a value of 0 is valid. In comparison here is the output from the Pro addin u

[2017-01-11 20:52] elinz commented on #765
@adgiles @kgonzago Verified that this issue was fixed in build 11 Jan 2017 09:51

[2017-01-11 20:52] #765 closed

[2017-01-11 21:20] elinz opened #773 "Distance and Direction - Creating lines based on distance and bearing always creates a line longer then length parameter value"
### Widget
Distance and Direction
### Version of widget
build 11 Jan 2017 09:51
### Bug or Enhancement
When creating lines from distance and bearing the created line is always longer then what the user specified.

In the screenshot below, I set the length to 1000 km, but the labeled line states line is longer then 1000 km. Also tested all the other length units and behavior is the same for all uni

[2017-01-11 21:59] elinz opened #774 "Distance and Direction: should we remove the Ellipse tab if ellipses are not geodetic?"
@nfeuerstein Question for you...

### Widget
Distance and Direction
### Version of widget
build 11 Jan 2017 09:51
### Bug or Enhancement
The ellipses created by the widget are not geodetic (https://github.com/Esri/solutions-webappbuilder-widgets/issues/699) and a note about this has been placed in the .pdf.

When we thought Pro couldn't create geodetic lines we were going to remove the Lines tab f

[2017-01-11 21:59] dfoll commented on #763
added the introduction to the map that includes deploying the widgets and did some light updates to the section that deals with the visibility gp service, but @mfunk and @Dbarnes1 are still working on trying to make that work, so there may be changes to that still

[2017-01-11 22:07] elinz opened #775 "Distance and Direction: can't specify 0, 0 in any textboxes that accept a coordinate"
### Widget
Distance and Direction
### Version of widget
build 11 Jan 2017 09:51
### Bug or Enhancement
The CenterStart/End Point textboxes on the Lines, Circle, Ellipse, and Rings tools do not allow the user to enter the coordinate 0, 0. This is a valid coordinate and the widget should allow the user to enter this coordinate. The Pro and ArcMap addins allow the user to enter 0, 0.
### Repo Steps o

[2017-01-11 22:40] nfeuerstein commented on #774
@elinz is it just the ellipses that aren't geodetic or, circles and lines too?

[2017-01-11 22:56] joebayles opened #777 "Visibility - Button Icon"
### Widget
Visibility

### Version of widget
1.0.0

### Bug or Enhancement
Change the button

### Repo Steps or Enhancement details
There are several icons better suited for visibility than a book, I've circled some suggestions.

![image](https://cloud.githubusercontent.com/assets/5016557/21869748/e5880d2a-d80d-11e6-9651-9fb9cbc2186e.png)

I'd say this is Version-Next but not high-priority, based

[2017-01-11 23:08] joebayles opened #778 "Visibility - Default Service URL"
### Widget
Visibility
### Version of widget
1.0.0
### Bug or Enhancement
Bug
### Repo Steps or Enhancement details
When first adding the widget to the app, the configuration window appears and automatically populates with the airc2.esri.com visibility URL. Suggest that this be left blank, and identified as a required input.
![image](https://cloud.githubusercontent.com/assets/5016557/21870133/cbb69

[2017-01-11 23:13] elinz commented on #774
@nfeuerstein Lines, Circles and Rings are geodetic.

[2017-01-11 23:31] nfeuerstein commented on #774
We should comment out/remove ellipses if they cannot be geodetic.

[2017-01-11 23:39] elinz commented on #774
@kgonzago The Ellipse tab from the Distance and Direction widget needs to be removed.

[2017-01-12 00:38] joebayles commented on #767
Verified.
![image](https://cloud.githubusercontent.com/assets/5016557/21872265/5e0b1324-d81c-11e6-9af9-1ede37b5ee6f.png)

[2017-01-12 00:38] #767 closed

[2017-01-12 00:40] joebayles commented on #704
Verified.

[2017-01-12 00:41] #704 closed

[2017-01-12 00:48] joebayles commented on #729
Works for me too...
![image](https://cloud.githubusercontent.com/assets/5016557/21872464/81446af6-d81d-11e6-90ff-183c347f1c0d.png)
![image](https://cloud.githubusercontent.com/assets/5016557/21872465/841689da-d81d-11e6-9140-d7f88e7a5922.png)

... and a bonus, Microsoft Edge!
![image](https://cloud.githubusercontent.com/assets/5016557/21872536/cb874f66-d81d-11e6-8376-08b0d5117ac4.png)

[2017-01-12 05:25] elinz opened #779 "Coordinate Conversion doesn't calculate correct output coordinate for GARS 15' x 15' minute cell coordinate"
### Widget
Coordinate Conversion
### Version of widget
11 Jan 2017 18:14
### Bug or Enhancement

According to https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm:
GARS is based on longitude and latitude and divides the world into 30 minute by 30 minute cells. The first three digits represent a 30 minute wide longitude band. The fourth and fifth letters r

[2017-01-12 09:49] adgiles commented on #760
@elinz

 fixed please verify

[2017-01-12 10:38] adgiles commented on #773
@elinz @nfeuerstein @kgonzago

I have fixed the length issue, the logic in the way the line was being created was not robust enough. Essentially a geodesic circle was created with the radius being the required line length. A line was then created using the center point and the first point of the circle (due north). This line was then rotated using the angle value which is **incorrect** as a geodes

[2017-01-12 12:48] adgiles commented on #770
Fixed please verify

[2017-01-12 13:20] adgiles commented on #775
@elinz

The issue was occurring because the code has a check to see if the coordinate array (which is multi dimensional) has values in it and the first one exists:

if (r.length <= 0 || !r[0][0])

the code was interpreting the value 0 as false, so I added and extra check for a value of 0

if (r.length <= 0 || (!r[0][0] && r[0][0] != 0))

[2017-01-12 13:45] adgiles commented on #772
@elinz

Fixed please verify

[2017-01-12 14:54] mfunk commented on #759
@kgonzago needs to merge #769, but afterwards I'd like @Dbarnes1 to verify the fix once it is done.

[2017-01-12 15:08] mfunk commented on #730
@adgiles As of today's widgets in Jenkins (build 1097) i'm not seeing any labels at all:

![image](https://cloud.githubusercontent.com/assets/3093182/21894727/1b5366e8-d895-11e6-8d6e-6282b5c94399.png)

But I'm also seeing other weird things too:
1) Lines now showing multiple arrowheads (at each shape point???) with no labels:
![image](https://cloud.githubusercontent.com/assets/3093182/21894849/881

[2017-01-12 16:05] Dbarnes1 commented on #770
@adgiles I was able to verify that this workflow now works properly:

![image](https://cloud.githubusercontent.com/assets/13024357/21897241/db2467bc-d89d-11e6-81f2-4ed21726d8bb.png)

closing

[2017-01-12 16:05] #770 closed

[2017-01-12 16:16] elinz commented on #774
@Dbarnes1 FYI. Affects documentation.

[2017-01-12 16:22] #759 closed

[2017-01-12 16:52] adgiles commented on #712
Fixed please verify

[2017-01-12 16:55] elinz commented on #760
@adgiles @kgonzago Verified fixed in build 12 Jan 05:50. Both the labels and the textboxes are being updated. Closing issue

[2017-01-12 16:55] #760 closed

[2017-01-12 17:01] elinz commented on #773
@adgiles @nfeuerstein @kgonzago I'm okay with using the cross if everyone else is. I think it's better to change it from an arrow since the arrowhead was extending past the correct length. With the cross at least it meets with other graphics. For example, I drew a line and circle so they intersect and now the line doesn't extend past the edge of the circle...
![image](https://cloud.githubuserconte

[2017-01-12 17:01] mfunk commented on #730
Fixed with "showLabels":true

![image](https://cloud.githubusercontent.com/assets/3093182/21899622/ba61f564-d8a5-11e6-9c40-b4a2d8baf00b.png)

[2017-01-12 17:01] #730 closed

[2017-01-12 17:49] nfeuerstein commented on #774
War Room: Keep Ellipses.  Add a note "non-geodetic feature" note to widget.

Future: Use GP service to create geodetic ellipses.

[2017-01-12 17:55] #773 closed

[2017-01-12 18:52] elinz commented on #775
@adgiles Verified that this has been fixed in build 12 Jan 09:50. Tested all the tools (Lines, Circles, Ellipses, Rings) and all the controls on the tools and they all accept 0, 0 as a valid coordinate and I can draw graphics based on this coordinate. Closing issue.

[2017-01-12 18:52] #775 closed

[2017-01-12 18:53] Dbarnes1 commented on #763
@dfoll I'm going to go ahead and close this as I think it looks good, any changes made to the widgets will be specified in their respective topics and wont impact the intro.

[2017-01-12 18:53] #763 closed

[2017-01-12 18:57] elinz commented on #772
@adgiles Verified fixed in build 12 Jan 2017 09:50. Now when 0 is specified as Number of Radials, no radials are created. Closing issue.

[2017-01-12 18:57] #772 closed

[2017-01-12 20:24] mfunk commented on #778
@kgonzago
We need to add an Elevation Service URL parameter in the config and pass that to the GP service (as second parameter).

[2017-01-12 21:38] dfoll commented on #774
added a bullet to "implementation notes" at the beginning of distance and direction in widget to say that ellipses in the distance and direction widget are not geodetic, it also says this in the step in the doc about creating ellipses

[2017-01-12 22:31] elinz opened #780 "Distance and Direction: Lines and Ellipse tools missing units of measures"
### Widget
Distance and Direction
### Version of widget
12 Jan 2017 09:50
### Bug or Enhancement

- Lines tool missing Meters in Length units control.
- Ellipse missing Yards in Axis Unit control.

### Repo Steps or Enhancement details

[2017-01-12 22:33] ACueva opened #781 "Distance and Direction Display issue"
### Widget
Distance and Direction WAB widget

### Version of widget
2.1 & 2.2

### Bug or Enhancement

Distance and Direction widget gives some weird results with large length values.

### Repo Steps or Enhancement details

navigate to lines tab
change the from select box to 'Distance and Bearing'
enter specific coordinate pair as start point (45, 45) and click enter.
change the length unit to kil

[2017-01-12 22:34] ACueva commented on #768
Verified.

[2017-01-12 22:34] #768 closed

[2017-01-12 22:53] ACueva commented on #766
Verified.

[2017-01-12 22:53] #766 closed

[2017-01-12 23:55] nfeuerstein commented on #780
@elinz what is listed?  kilometers and feet?

[2017-01-12 23:56] nfeuerstein commented on #779
Document for this version.  Will address in the next.

[2017-01-13 00:09] elinz opened #782 "Coordinate Conversion: create output MGRS/USNG/UTM coordinate in polar regions"
### Widget

### Version of widget

### Bug or Enhancement
Outside of 80 degree South and 84 degree North, MGRS is defined in terms of Universal Polar Sterographic (UPS). So for example, if you use the Identify tool in ArcMap at 87.7520N 169.6139E, it will switch to using UPS and return the MGRS and USNG value ZAK4500045522, which is the same value that Geotrans will return.

Currently, the widget

[2017-01-13 00:14] elinz commented on #780
@nfeuerstein
For Lines it currently has: Feet, Kilometers, Miles, Nautical Mile, and Yards
For Ellipse it currently has: Feet, Meters, Kilometers, Miles, and Nautical Miles

Trying to keep the units the same for each of the tools. At a future release we will also have to modify so the units are listed in the same order on each tool and spelled the same some use Nautical Mile others use Nautical Mi

[2017-01-13 08:49] adgiles commented on #781
@ACueva

I am not surprised that the tool is giving strange results as the length you are using is longer than the worlds circumference and the geometry engine probably cannot handle it (Have a look at the circle tab and try and draw a circle that is too large).

The options we have are:

- Leave it and expect that the users will have some sense when using the tool
- Put a constraint on the input

[2017-01-13 09:46] adgiles commented on #688
@elinz

Fixed please verify

[2017-01-13 09:48] adgiles commented on #774
Added the following warning note to the ellipse widget UI:

![1](https://cloud.githubusercontent.com/assets/3740334/21925443/61e80e02-d975-11e6-8702-d2134a6fc5f7.png)

[2017-01-13 13:20] adgiles commented on #749
@nfeuerstein @elinz

I have worked on the regular expression to prevent the coordinates with over 59 minutes or seconds as being recognized as a valid DMS entry. I think this addresses this issue for DMS but I suspect there may be more issues with the regular expresssions if full testing on all coordinate types is conducted.

For interest the pattern I am now using for the DMS regular expression i

[2017-01-13 13:50] adgiles commented on #727
Again similar to #749 i have fixed this issue but all the regular expressions need a thorough review

@mfunk please verify

[2017-01-13 14:19] adgiles commented on #715
@elinz

Fixed please verify

[2017-01-13 14:47] elinz commented on #688
@adgiles Ellipse looks good
![image](https://cloud.githubusercontent.com/assets/4635490/21933474/68bddc5e-d95a-11e6-82d1-a47905ac59c6.png)

Also re-tested lines, circles and ellipses. Closing issue.

[2017-01-13 14:47] #688 closed

[2017-01-13 14:59] elinz commented on #774
@nfeuerstein @dfoll @adgiles
Tested latest build 13 Jan 2017 05:12
- Verified that the Warning note was added to the widget UI.
![image](https://cloud.githubusercontent.com/assets/4635490/21934106/0a13bb6c-d95d-11e6-9ae3-7adfc229476a.png)

- Verified that comment was made in Implementation Notes in military_tools_for_arcgis_web_appbuilder.pdf
![image](https://cloud.githubusercontent.com/assets/463

[2017-01-13 14:59] #774 closed

[2017-01-13 15:23] nfeuerstein commented on #781
Moved milestone to "after-next"

[2017-01-13 15:27] elinz commented on #749
@nfeuerstein Yep. Ran a new build so I can test :)

[2017-01-13 15:55] elinz commented on #780
@nfeuerstein @adgiles Verified on build 13 Jan 2017 07:13
Lines now has meters. Ellipse now has Yards. Also unit order was updated and spelling, so units on all tools are now the same and in the same order.
Lines:     Feet, Kilometers, Miles, Meters, Nautical Miles, Yards
Circle:    Feet, Kilometers, Miles, Meters, Nautical Miles, Yards
Ellipse:   Feet, Kilometers, Miles, Meters, Nautical Miles, Y

[2017-01-13 15:55] #780 closed

[2017-01-13 16:08] adgiles commented on #718
@nfeuerstein @elinz

Added the ability to have UTM shown with the 100 Km Zone numbers (UTM (Z)) or Hemisphere Letter (UTM (H)).

Documentation will need updating to reflect this change

[2017-01-13 17:31] nfeuerstein commented on #749
1. Revert reg ex - keep it for next release.
2. Document handling of coordinates with examples.  80 seconds will be resolved as 1 minute 20 seconds.

[2017-01-13 17:42] nfeuerstein commented on #727
1. Copy over reg ex being used in Pro and ArcMap into the widgets
2. All documentation for coordinate notation support is consistent

[2017-01-13 18:08] adgiles commented on #749
@nfeuerstein

Reverted back to original regex

[2017-01-13 18:50] elinz commented on #771
@Dbarnes1 Verified this fix in 13 Jan 2017 10:31 build. Closing issue.

[2017-01-13 18:50] #771 closed

[2017-01-13 19:16] elinz commented on #715
@adgiles Verifed on build 13 Jan 10:31. Closing issue.

[2017-01-13 19:16] #715 closed

[2017-01-13 19:27] elinz opened #783 "Coordinate Conversion creating invalid GARS output"
### Widget
Coordinate Conversion
### Version of widget
13 Jan 2017 10:31
### Bug or Enhancement
Entered: 19 0.819N 86 18.5156W
Output GARS: 1889C3K ->The output should be 188KC39

### Repo Steps or Enhancement details

[2017-01-13 19:46] elinz opened #785 "Coordinate Conversion: UTM output is configured for DD output"
### Widget
Coordinate Conversion
### Version of widget
13 Jan 2017 10:31
### Bug or Enhancement
- When I configured the web app I selected UTM as one of the outputs, however in the web app the UTM output control is configured for DD
![image](https://cloud.githubusercontent.com/assets/4635490/21942933/eb677b1e-d983-11e6-989a-87d9e4c27bf5.png)

![image](https://cloud.githubusercontent.com/assets/463

[2017-01-13 19:52] elinz commented on #785
@nfeuerstein I shouldn't have created a new issue for this. This should actually be put in as comments to the #718. I will close this one.

[2017-01-13 19:58] elinz commented on #718
@adgiles
- When I configured the web app I selected UTM as one of the outputs, however in the web app the UTM output control is configured for DD
![image](https://cloud.githubusercontent.com/assets/4635490/21942933/eb677b1e-d983-11e6-989a-87d9e4c27bf5.png)

![image](https://cloud.githubusercontent.com/assets/4635490/21942936/efcdd9e6-d983-11e6-858a-71e3a92472ec.png)

- When the Coordinate Conversi

[2017-01-13 20:00] #785 closed

[2017-01-13 20:01] elinz commented on #749
@adgiles Assigning this issue back to you.

[2017-01-13 20:07] elinz commented on #712
@adgiles Verified in build 13 Jan 2017 10:31.
Tested with invalid MGRS coordinate (missing 10th digit): 34KGE358193443 and textboxes clear.
Also tested with invalid value 45abc 100yx and the textboxes clear. Closing this issue.

[2017-01-13 20:07] #712 closed

[2017-01-13 20:11] joebayles commented on #729
Verified.

[2017-01-13 20:11] #729 closed

[2017-01-13 20:29] kgonzago commented on #778
@joebayles can you verify?

[2017-01-13 21:38] joebayles commented on #778
I can verify that it no longer defaults, however, it allows you to proceed without a service. I'll leave that to @nfeuerstein to decide if that makes or breaks us.

[2017-01-13 21:42] joebayles commented on #778
NM, I see it shows you default value.

[2017-01-13 21:42] #778 closed

[2017-01-13 21:43] elinz commented on #779
@nfeuerstein @dfoll @Dbarnes1 I double-checked the widget and it is correctly converting GARS to other coordinates. The problem is that I used Pro as the baseline and it's Pro that is not working correctly. FYI. ArcMap is working.

I did validate these coordinates with GeoTrans:

- For: 161MG37 (5' x 5' cell)
GeoTrans Output: 45 2 30.0N     99 57 30.0W
Widget Output:   45° 2' 30.00"N 99° 57' 30.00

[2017-01-13 21:43] #779 closed

[2017-01-13 21:57] elinz commented on #783
FYI. I did double-check this in GeoTrans. The correct output in GARS should be 188KC39 as noted above.

[2017-01-13 22:15] elinz commented on #749
@adgiles @nfeuerstein Verified that the change was reverted back by entering an incorrect value, 45 15 80N 100 30 00W and it output 45° 16' 20.00"N 100° 30' 0.00"W.

Only thing left for this issue to to add a note in the documentation, something to the affect:

"WARNING: Coordinate Conversion will attempt to auto correct invalid input coordinates if it can be resolved it to a valid coordinate. For

[2017-01-13 22:22] elinz commented on #752
@nfeuerstein @Dbarnes1 FYI. Waiting for step 1 in comment https://github.com/Esri/solutions-webappbuilder-widgets/issues/727#issuecomment-272499800 to be completed, so that we can validate that the behavior is the same as the Pro and ArcMap addins. If the same, then we can use almost all of the pro and ArcMap notation topic for the Widget notation topic.

[2017-01-13 23:08] Dbarnes1 commented on #749
@elinz I'll tackle this

[2017-01-13 23:17] Dbarnes1 commented on #755
the configuration page has solved this issue- closing.

[2017-01-13 23:17] #755 closed

[2017-01-13 23:23] elinz commented on #749
@Dbarnes1 Thank you.

[2017-01-13 23:25] Dbarnes1 commented on #746
this is noted in the widget doc

[2017-01-13 23:49] nfeuerstein commented on #752
@dhagens can you send the reg ex for coordinate notations to @adgiles? Once this done, the team will verify and doc will reflect that notation support is the same across pro, arcmap, and widgets.

[2017-01-14 00:08] nfeuerstein commented on #718
@adgiles, please revert so that the widget uses just UTM (latitude band) - this keeps it consistent across arcmap, pro, and the widget.

[2017-01-14 00:23] nfeuerstein commented on #783
@adgiles if this is not able to be fixed, we need to remove GARS from the output options.

[2017-01-14 00:24] nfeuerstein commented on #783
@pHill5136 if GARS is not supported in Pro, it needs to be removed from the output options.

[2017-01-14 00:28] nfeuerstein commented on #783
We do not fully support GARS at this release.  @adgiles please remove GARS from the output options in the widget.  @pHill5136 please remove GARS from Pro and ArcMap.

[2017-01-14 00:42] Dbarnes1 commented on #783
GARS removed from support doc.

[2017-01-15 00:19] NatalieCampos opened #787 "json config file need to be updated to reflect the UTM z/h"
### Widget
Coordiante Conversion
### Version of widget
1/14/17 @1:40pm
### Bug or Enhancement
Bug
### Repo Steps or Enhancement details
1.  When configuring the app, just UTM is an option.
![image](https://cloud.githubusercontent.com/assets/5116835/21959144/624bdfe6-da73-11e6-9430-13b2b6696e2d.png)
2. When initially using the app the UTM box will not be populated.
3.   When  adjusting the setting

[2017-01-15 01:22] NatalieCampos opened #788 "distance and direction contains artifact from drawing."
### Widget
Distance and Direction
### Version of widget
1/14/17 @1:40pm
### Bug or Enhancement
Artifacts remain on the screen when trying to use the DD Circle tab and the Distance Calculator.  See the graphic below.
![image](https://cloud.githubusercontent.com/assets/5116835/21959488/bb094402-da7d-11e6-88cf-259068f68c0b.png)

### Repo Steps or Enhancement details

[2017-01-15 18:11] topowright opened #789 "Need a Visibility Icon"
### Widget
Visibility
### Version of widget
1.0
### Bug or Enhancement
We need a proper icon:
![image](https://cloud.githubusercontent.com/assets/5488313/21964985/deedabaa-db0a-11e6-8ad9-70edbe4a0d94.png)

### Repo Steps or Enhancement details

[2017-01-15 18:43] topowright opened #790 "Unable to configure Visibility widget"
### Widget
Visibility
### Version of widget
1.0
### Bug or Enhancement
Cannot confgure the Visibility widget with a working gp service.

This shows my results in ArcMap using the steps outlined in the doc.

1. The picture shows two results.

        - Results from running the tool locally
        - Results from the gp service
![image](https://cloud.githubusercontent.com/assets/5488313/21965178/484

[2017-01-15 19:24] adgiles commented on #789
Duplicate of #777

[2017-01-16 06:28] kgonzago commented on #790
@topowright

I can't hit your service. Also, the URL for the GP service should be:
https://fqdn/ags/rest/services/Test/ViewshedTestWidget/GPServer/Viewshed

Also, please configure your GP service to be synchronous instead of asynchronous.

[2017-01-16 06:29] kgonzago commented on #783
GARS option has been removed from ArcMap and Pro add-ins as well as from the CC and DD widgets.

[2017-01-16 11:13] adgiles commented on #718
Widget now only supports UTM with latitude band, please verify

[2017-01-16 11:15] adgiles commented on #787
No requirement for this now as we have reverted back to a single instance of UTM output as per request in #718

[2017-01-16 11:15] #787 closed

[2017-01-16 11:16] adgiles commented on #751
Fixed please verify

[2017-01-16 11:48] adgiles commented on #788
@NatalieCampos

Natalie, bug addressed can you please verify

[2017-01-16 12:31] adgiles commented on #777
I have amended the Near Me icon for visibility as per images:

![2](https://cloud.githubusercontent.com/assets/3740334/21983166/ba2880a0-dbe7-11e6-93ce-b44d370886ad.png)
![1](https://cloud.githubusercontent.com/assets/3740334/21983167/bb9771e4-dbe7-11e6-9760-9fe40650afc8.png)

Everybody happy with that?

[2017-01-16 12:34] adgiles commented on #789
I have amended the Near Me icon for visibility as per images:

![2](https://cloud.githubusercontent.com/assets/3740334/21983221/1556a574-dbe8-11e6-9cdb-76d6c88e4701.png)
![1](https://cloud.githubusercontent.com/assets/3740334/21983225/16d823c8-dbe8-11e6-8f6f-bf9f534ea1ca.png)

[2017-01-16 12:41] adgiles commented on #790
@kgonzago @topowright

Kevin I think there was an issue with line 155 of the widget.js:

"Elevation_URL": this.config.elevationService.url,

I have removed this line as its not required and tries to reference a object that does not exist.

Just to check also make sure your service is shared with everybody as the widget does not do any token authorization.

Please verify its now working

[2017-01-16 13:37] adgiles commented on #783
@kgonzago

The logic to how the string is formatted is wrong, currently it is:

//XYQK
          var s = withFormatStr.replace(/X/, r.lon);
          s = s.replace(/Y/, r.lat);
          s = s.replace(/Q/, r.quadrant);
          s = s.replace(/K/, r.key);

stepping through the example input above '188KC39' would be as follows:

XYQK
188YQK
188KCQK
188KC3K
1889C3K (**incorrect**: note here the fact

[2017-01-16 13:40] adgiles commented on #783
@nfeuerstein

I have a copy of the widget with GARS back in and working if you want to include as part of this release

[2017-01-16 15:42] adgiles commented on #782
@elinz @nfeuerstein

I am not aware that the geometry service on ArcGIS Server supports UPS, this maybe an enhancement request to core?

Notice there is no mention of UPS in the onvert coordinate notation documentation:

http://pro.arcgis.com/en/pro-app/tool-reference/data-management/convert-coordinate-notation.htm

[2017-01-16 16:25] kgonzago commented on #790
@adgiles Good catch and verified.

[2017-01-16 16:25] adgiles commented on #719
Fix please verify

[2017-01-16 16:27] kgonzago commented on #783
@adgiles Thanks for the fix. It was removed since those options were also removed from the ArcMap and Pro add-ins. We will fold your fix into the next release.

[2017-01-16 16:35] kgonzago commented on #777
@adgiles thanks for the new icon. Verified.

[2017-01-16 16:35] #777 closed

[2017-01-16 17:21] joebayles commented on #789
Verified.

[2017-01-16 17:21] #789 closed

[2017-01-16 17:22] joebayles commented on #783
Moved to After Next per the conversation above FYI @nfeuerstein and @lfunkhouser

[2017-01-16 17:26] kgonzago commented on #727
@nfeuerstein @lfunkhouser @mfunk

I discussed this with @adgiles and we determined it isn't as easy as we thought it would be. The RegEx used in the add-in are compartmentalized into a C# class per notation. The widget will need to be refactored to mimic that code structure, and that can be quite an effort. As it stands, the widget will handle most conversion scenarios but will fall short of mimic

[2017-01-16 17:59] elinz commented on #718
@adgiles @nfeuerstein Verified on build 16 Jan 2017 05:11 that code was reverted and now the UTM calculates output as UTM with latitude band and not hemisphere designators.

Tested with the following DD inputs and widget created the following correct output:
34KGE3581934434 -> 34K 735819 7934434
45.0N 100.0W -> 14T 421184 4983436
45.0N 100.0E -> 47T 578815 4983436
45.0S 100.0W -> 14G 421184 501656

[2017-01-16 17:59] #718 closed

[2017-01-16 18:04] elinz opened #791 "Doc - Coordinate Conversion: make sure doc reflects UTM uses latitude band"
### Widget
Coordinate Conversion
### Version of widget
16 Jan 2017 05:11
### Bug or Enhancement
Widget was changed so output UTM uses latitude band instead of hemisphere designator

For more info, see: https://github.com/Esri/solutions-webappbuilder-widgets/issues/718#issuecomment-272927657
### Repo Steps or Enhancement details

[2017-01-16 18:35] elinz opened #792 "Coordinate Conversion: creating invalid MGRS and USNG coordinates"
### Widget
Coordinate Conversion
### Version of widget
16 Jan 2017 05:11
### Bug or Enhancement
Was clicking on the map at various location and found that the USNG output is transposing the latitude band and 100k grid designators.

- Invalid USNG:
Clicked location: 38.714088N 168.046875W
Widget output USNG:  02QHS5676789190
Widget should output USNG: 02SQH5676789190 (MGRS output is correct)
It tra

[2017-01-16 18:39] adgiles commented on #792
@elinz issue probably similar to that in #783 I will look at it first think tomorrow

[2017-01-16 18:42] elinz opened #793 "Coordinate Conversion: add support to output UTM using latitude band as well hemisphere"
### Widget
Coordinate Conversion
### Version of widget

### Bug or Enhancement
See #718 for more info.
### Repo Steps or Enhancement details

[2017-01-16 18:45] elinz commented on #751
@adgiles Verified on build 16 Jan 2017 05:11. There is no longer a space between the latitude band and the 100k grid designator.

@dfoll @Dbarnes1 This is no longer a known issue; removed label. Don't know if there is a doc change that needs to be made. Added the affects doc label.

[2017-01-16 18:51] elinz commented on #782
@adgiles @nfeuerstein I can't address the geometry service, but the projection engine that is used in ArcMap will return a MGRS coordinate based on the UPS grid automatically in the polar regions. Tested this using the Identify tool in ArcMap north of 84 degrees north.

NOTE: the help doc that you reference is for the Coordinate Conversion gp tool. Please see the MGRS section in this topic https:/

[2017-01-16 18:52] elinz commented on #782
@adgiles And this issue is set to Version - After Next so we don't have to worry about it now.

[2017-01-16 19:23] elinz commented on #719
@adgiles Verified fixed on build 16 Jan 2017 10:41. Closing issue.

[2017-01-16 19:23] #719 closed

[2017-01-16 20:43] elinz commented on #727
@nfeuerstein @lfunkhouser @mfunk @adgiles Based on the last comment, implementing the same RegEx expressions in the addins in the widget may not happen this release, so I'm currently testing build 16 Jan 10:41 against the know coordinate notations handled by arcmap/pro addins, i.e. hemisphere designators, coord-pair-separators, etc. and seeing what differences there are.

[2017-01-17 01:48] topowright commented on #790
I have verified that this works start from finish.

[2017-01-17 01:48] #790 closed

[2017-01-17 03:26] elinz opened #794 "Doc - Coordinate Conversion: Supported vs Non-Supported coordinate notation"
@dfoll @Dbarnes1 @adgiles FYI.
### Widget
Coordinate Conversion
### Version of widget
16 Jan 2017 10:41

Because we may not be able to modify the widget to use the same RegEx statements that the addins use (see https://github.com/Esri/solutions-webappbuilder-widgets/issues/727#issuecomment-272920738), I went ahead and performed a comparison between the supported notations between the Pro/ArcMap ad

[2017-01-17 08:28] dfoll commented on #791
@topowright @lfunkhouser

[2017-01-17 09:27] adgiles commented on #792
@elinz

My suspicions were correct, widget amended output now the following:

![1](https://cloud.githubusercontent.com/assets/3740334/22014750/158ed0f2-dc97-11e6-9a57-791bc78f6e31.png)
![2](https://cloud.githubusercontent.com/assets/3740334/22014751/171c249c-dc97-11e6-8b4f-926fbcdf344c.png)
![3](https://cloud.githubusercontent.com/assets/3740334/22014753/1898efa8-dc97-11e6-92fe-289985c9a5b0.png)
!

[2017-01-17 09:42] adgiles opened #795 "Distance and Direction - Auto Fill of Line End Point"
### Widget

Distance and Direction

### Version of widget

All versions

### Bug or Enhancement

When dynamically creating a line using the draw tool the coordinate for the end point is automatically calculated as you move the mouse. In order for this to be calculated a call on the Geometry Service is fired.

Although this seems to be fine on my machine with a local instance of Server running I wo

[2017-01-17 10:50] adgiles commented on #692
@elinz

Fixed please verify

[2017-01-17 13:46] adgiles commented on #679
@topowright

Lyle, issue resolved please verify

[2017-01-17 15:31] kgonzago commented on #795
@adgiles We initially had a client-side (open source) solution for coordinate conversion but noticed slight discrepancies between what was implemented and geometry service. We decided to go with using the geometry service to eliminate those discrepancies. I agree with you to only populate the end point once the line is generated in hopes to reduce the chattiness between client and server.

[2017-01-17 15:57] kgonzago commented on #680
@topowright I am unable to reproduce it with the latest build of MTA. Can you verify if issue still persists when you get a chance?

[2017-01-17 15:57] dhagens commented on #752
I believe @kgonzago and @adgiles looked at the regex and confirmed that we will not be able to integrate the regex for his release.

[2017-01-17 16:00] kgonzago commented on #651
@dfoll Deployment topic is part of the [README.md](https://github.com/Esri/solutions-webappbuilder-widgets/blob/master/GridOverlay/README.md). Is that sufficient?

[2017-01-17 16:17] elinz commented on #792
@adgiles Verified fixed on build 17 Jan 05:11. Closing issue.

[2017-01-17 16:18] #792 closed

[2017-01-17 16:26] elinz commented on #692
@adgiles Verified fixed in build 17 Jan 2017 05:11. Closing issue.

![image](https://cloud.githubusercontent.com/assets/4635490/22029185/9ba7b748-dc8e-11e6-96cb-0408c8ae0ee1.png)

[2017-01-17 16:26] #692 closed

[2017-01-17 17:17] nfeuerstein commented on #794
This one is a duplicate: https://github.com/Esri/solutions-webappbuilder-widgets/issues/752

[2017-01-17 17:17] nfeuerstein commented on #752
Closing in favor of this one; https://github.com/Esri/solutions-webappbuilder-widgets/issues/794

[2017-01-17 17:17] #752 closed

[2017-01-17 17:19] nfeuerstein commented on #727
Fixed.  Needs to be verified.

[2017-01-17 17:49] Dbarnes1 commented on #727
verified that this is now working. closing out. ![image](https://cloud.githubusercontent.com/assets/13024357/22032651/2a9190ea-dc9a-11e6-8bff-f6dcbfe04ee3.png)

[2017-01-17 17:49] #727 closed

[2017-01-17 17:59] #456 closed

[2017-01-17 17:59] #502 closed

[2017-01-17 17:59] #510 closed

[2017-01-17 17:59] #514 closed

[2017-01-17 17:59] #537 closed

[2017-01-17 17:59] #565 closed

[2017-01-17 17:59] #566 closed

[2017-01-17 17:59] #570 closed

[2017-01-17 17:59] #574 closed

[2017-01-17 17:59] #577 closed

[2017-01-17 17:59] #589 closed

[2017-01-17 17:59] #590 closed

[2017-01-17 17:59] #591 closed

[2017-01-17 17:59] #594 closed

[2017-01-17 17:59] #595 closed

[2017-01-17 17:59] #596 closed

[2017-01-17 17:59] #598 closed

[2017-01-17 17:59] #602 closed

[2017-01-17 18:03] #246 closed

[2017-01-17 18:03] #264 closed

[2017-01-17 18:03] #350 closed

[2017-01-17 18:03] #354 closed

[2017-01-17 18:04] #616 closed

[2017-01-17 18:05] #455 closed

[2017-01-17 18:05] #50 closed

[2017-01-17 18:05] MikeMillerGIS commented on #616
moving to internal repo where code is managed

[2017-01-17 18:37] elinz commented on #727
@nfeuerstein Going to create a new separate issue so that we can address the change in RegEx in the widget to match the addin in the future.

[2017-01-17 18:40] elinz opened #797 "Coordinate Conversion: modify RegEx in widget to use RegEx from Pro/ArcMap addins"
### Widget

### Version of widget

### Bug or Enhancement
We need the addins and widget to parse the input coordinate string the same way.
See https://github.com/Esri/solutions-webappbuilder-widgets/issues/727#issuecomment-272920738 for more info.

@nfeuerstein Going ahead and setting milestone to version after next.

### Repo Steps or Enhancement details

[2017-01-17 18:42] #357 closed

[2017-01-17 18:47] adgiles commented on #496
Closing issue as Batch Editor is now a core widget

[2017-01-17 18:47] #496 closed

[2017-01-17 18:54] NatalieCampos opened #798 "DD - creation of features difficult"
### Widget
DD
### Version of widget
1/17/16@9:17 am
### Bug or Enhancement
Bug
### Repo Steps or Enhancement details
1.  Create multiple features.
2.  As multiple features are added.  The creation of feature is not happening when clicking rapidly.

[2017-01-17 18:59] adgiles commented on #798
@NatalieCampos

Natalie can you expand please, which tab are you on (line, circle, ellipse, ring). An when you say clicking rapidly what do you mean?

[2017-01-17 18:59] NatalieCampos commented on #798
Give me a call and I can show you

[2017-01-17 19:15] adgiles commented on #798
I have just tried replicating the issue on my machine and cannot reproduce.

The only thing I think it may be is the time its taking the geometry service to populate the coordinate box
can you get somebody else to check on your network, and if they experience the same behavior, can you check the network response times on the geometry calls?

[2017-01-17 20:19] ACueva commented on #798
@adgiles I'll assist @NatalieCampos

[2017-01-17 20:26] NatalieCampos commented on #798
@ACueva is this something you can help look at?

[2017-01-17 20:27] NatalieCampos commented on #788
verified.

[2017-01-17 20:27] #788 closed

[2017-01-17 21:00] ACueva commented on #798
@NatalieCampos I believe this is expected behavior.  It's making a call to the arcgisonline Geometry service.  Any lag would be network related.

[2017-01-17 21:00] #798 closed

[2017-01-17 22:04] ACueva opened #799 "Visibility Widget does not return a value/error when point selected is outside accepted area"
### Widget
Visibility
### Version of widget
2.2
### Bug or Enhancement
Bug
### Repo Steps or Enhancement details

1. Click on Visibility Widget.
2. Select a point outside your area of interest.
3. Observe the spinning mouse cursor.

Behind the scene the Viewshed service has already kicked back an error message.

[code]

This can be very frustrating as a user since at this point no other widgets ar

[2017-01-17 22:05] ACueva commented on #799
@nfeuerstein IMO, this might be a showstopper.

[2017-01-18 00:07] nfeuerstein commented on #799
@ACueva what would be the expected experience?  The user clicks on a point of the map outside the area of interest and...warning?

[2017-01-18 00:14] ACueva commented on #799
@nfeuerstein Not sure to be honest.  At the very least I would expect the widget to handle the error and allow the user to continue working.  Right now if you hit an error it basically locks you out of doing anything until you refresh the browser.

[2017-01-18 04:56] Dbarnes1 opened #800 "Coordinate Conversion only partially supports +/- as suffix for notation in DD, DDM, DMS"
from @elinz:

ISSUE: Widget partially supports +/- as suffix in DD, DDM, DMS. For example...
Widget will create correct output for: 45.0+ 100.0- and 45.0+ 100.0+, but will create incorrect output for 45.0- 100.0- and 45.0- 100.0+. Either we fix this for this release or remove +/- suffix support.

[2017-01-18 04:58] Dbarnes1 opened #801 "Coordinate Conversion supports hemisphere prefix for DMS, but not DD or DDM"
from @elinz:

Widget supports hemisphere prefix [N|S|E|W] for DMS, but not for DD or DDM. We should fix this.

[2017-01-18 05:01] Dbarnes1 commented on #794
#800 and #801 have been logged as separate issues, and we should discuss them in war room tomorrow.

[2017-01-18 11:58] adgiles commented on #799
@ACueva

Added a handler to the widget to handle an error being returned from the gp service

![untitled1](https://cloud.githubusercontent.com/assets/3740334/22062869/da87fb22-dd73-11e6-8069-2d4e6aee9684.png).

What I have found is that the error can take a while to return depending on the file size of the elevation raster being used within the service.

My guess is that the arcpy.Clip_management

[2017-01-18 12:46] adgiles commented on #800
Dan,

The Geometry Service on ArcGIS Server provides incorrect results when using +/- as a suffix:

![untitled1](https://cloud.githubusercontent.com/assets/3740334/22064351/1846a826-dd7b-11e6-8d42-3f13f3ce9127.png)

@nfeuerstein Do we want to perform error checking and correction on the input string within the widget before it gets fired to the server or document the valid inputs.

The same goes f

[2017-01-18 14:11] kgonzago commented on #800
@adgiles Doc'ing valid inputs may be the easiest approach but what is the level of effort to add logic for error checking and correction?

[2017-01-18 14:19] kgonzago commented on #799
@mfunk @adgiles Suggestion: We add another tool to the toolbox which passes back the extent of the raster. This new operation will allow retrieval of the raster extent upon launching of the widget and perform the "is point within extent" check client side. User will immediately know if the point of interest either falls within or outside the extent of the raster without the need for waiting.

[2017-01-18 14:25] adgiles commented on #799
@kgonzago

Not sure of the need a separate tool, shouldn't we be able to use arcpy.raster

http://resources.arcgis.com/en/help/main/10.1/index.html#//018z00000051000000

to get the extent of the raster, then create a polygon from the extent then use the geometry functions to determine if the point is within, contains etc..

http://resources.arcgis.com/en/help/main/10.1/index.html#//018z00000070000

[2017-01-18 14:36] kgonzago commented on #799
@adgiles Agreed on ease of GP service set up. Given our tight timeline, let's proceed with folding this simple check into the script.

@mfunk Will you be able to assist?

[2017-01-18 15:24] elinz commented on #800
@nfeuerstein @adgiles @kgonzago After the release, I'll take this Geometry service issue up with the core team.

[2017-01-18 16:44] lfunkhouser commented on #794
@elinz almost complete. Can you verify this is still an issue. I wasn't able to reproduce:
The widget supports using the Diaeresis ¨ (U+00A8) character for seconds mark (addins do not at all) only when used in conjunction with any of the degree-mark and minute-mark. If this character is used for seconds-mark and no degree-mark and minute-mark is used then widget can't interpret the coordinate. Add

[2017-01-18 16:54] Dbarnes1 commented on #749
Included in Known Issues list. removing affects documentation tag.

[2017-01-18 16:59] Dbarnes1 commented on #751
@elinz this was never documented as a known issue, removing affects documentation tag, closing out.

[2017-01-18 16:59] #751 closed

[2017-01-18 17:52] adgiles commented on #801
Fixed please verify

[2017-01-18 18:17] adgiles commented on #745
Doc for pro states:

Degree-based formats must always be specified in the order latitude first (Y coordinate) then longitude (X coordinate). Specify hemisphere with +,-,N,S,E, or W. These can be mixed within a single latitude-longitude pair. If omitted, a value is assumed to be positive (N for latitude or E for longitude).

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported

[2017-01-18 18:18] adgiles commented on #744
Doc for pro states:

Degree-based formats must always be specified in the order latitude first (Y coordinate) then longitude (X coordinate). Specify hemisphere with +,-,N,S,E, or W. These can be mixed within a single latitude-longitude pair. If omitted, a value is assumed to be positive (N for latitude or E for longitude).

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported

[2017-01-18 18:18] adgiles commented on #743
Doc for pro states:

Degree-based formats must always be specified in the order latitude first (Y coordinate) then longitude (X coordinate). Specify hemisphere with +,-,N,S,E, or W. These can be mixed within a single latitude-longitude pair. If omitted, a value is assumed to be positive (N for latitude or E for longitude).

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported

[2017-01-18 18:18] adgiles commented on #742
Doc for pro states:

Degree-based formats must always be specified in the order latitude first (Y coordinate) then longitude (X coordinate). Specify hemisphere with +,-,N,S,E, or W. These can be mixed within a single latitude-longitude pair. If omitted, a value is assumed to be positive (N for latitude or E for longitude).

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported

[2017-01-18 18:18] adgiles commented on #741
Doc for pro states:

Degree-based formats must always be specified in the order latitude first (Y coordinate) then longitude (X coordinate). Specify hemisphere with +,-,N,S,E, or W. These can be mixed within a single latitude-longitude pair. If omitted, a value is assumed to be positive (N for latitude or E for longitude).

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported

[2017-01-18 19:26] Dbarnes1 commented on #801
@topowright and I updated the doc for this issue, it still needs verification in the widget. removing affects doc tag.

[2017-01-18 19:30] Dbarnes1 commented on #800
Because this is a limitation in core, we are not adding any additional documentation for this release, as we believe it is covered by the coordinate support topic. @elinz I'm assigning this to you to take the issue up with core after this release.

[2017-01-18 19:43] Dbarnes1 commented on #791
@dfoll @elinz I made sure that this is under the widget coordinate support doc for UTM. We state that: To input a UTM coordinate to Coordinate Conversion, spaces must be embedded between the UTM Zone/Latitude Band (ZZB)

[2017-01-18 19:52] Dbarnes1 commented on #745
@adgiles good find. @elinz I'm changing these issues to enhancement.

[2017-01-18 20:02] Dbarnes1 commented on #679
@topowright verified. closing.

[2017-01-18 20:02] #679 closed

[2017-01-18 20:19] elinz commented on #745
@adgiles Correct. Pro and ArcMap only handle Lat Long. The request to support Long Lat order was due to Coordinate Conversion being changed to handle Long Lat, therefore, all our tools should support Long Lat.

[2017-01-18 20:23] elinz commented on #741
@adgiles Correct. Pro and ArcMap only handle Lat Long. The request to support Long Lat order was due to Coordinate Conversion addins being changed to handle Long Lat, therefore, all our tools (whether addins or widgets) should support Long Lat.

[2017-01-18 20:23] elinz commented on #743
@adgiles Correct. Pro and ArcMap only handle Lat Long. The request to support Long Lat order was due to Coordinate Conversion addins being changed to handle Long Lat, therefore, all our tools (whether addins or widgets) should support Long Lat.

[2017-01-18 20:24] elinz commented on #742
@adgiles Correct. Pro and ArcMap only handle Lat Long. The request to support Long Lat order was due to Coordinate Conversion addins being changed to handle Long Lat, therefore, all our tools (whether addins or widgets) should support Long Lat.

[2017-01-18 20:24] elinz commented on #744
@adgiles Correct. Pro and ArcMap only handle Lat Long. The request to support Long Lat order was due to Coordinate Conversion addins being changed to handle Long Lat, therefore, all our tools (whether addins or widgets) should support Long Lat.

[2017-01-18 20:58] elinz commented on #801
@adgiles @Dbarnes1 Verified fixed in build 18 Jan 2017 12:25. Also verified that all web app builder .pdf degree based formats show that hemisphere prefix is supported. Closing issue.

[2017-01-18 20:58] #801 closed

[2017-01-18 21:03] elinz commented on #791
@dfoll @Dbarnes1 Verified the following in web app .pdf build 18 Jan 2017 12:25...
![image](https://cloud.githubusercontent.com/assets/4635490/22082895/83c45aaa-dd7e-11e6-90ef-54f9f364973c.png)
Closing issue.

[2017-01-18 21:03] #791 closed

[2017-01-18 21:06] elinz commented on #800
@dfoll @Dbarnes1 Verified that in latest .pdf (build 18 jan 2017 12:25) that +|- is not shown as a suffix for DD, DDM and DMS.

[2017-01-18 22:03] elinz commented on #794
@lfunkhouser I tested the latest build and I'm not having any issues with the Diaeresis ¨ (U+00A8) for seconds-mark. You can use the Diaeresis ¨ (U+00A8) in combination with all the other degree-mark and minute-marks.

But now I'm having problems using the Masculine Ordinal Indicator º (U+00BA) for degree-mark.
All combinations of minutes/seconds using Masculine Ordinal Indicator for degree do not

[2017-01-18 22:08] elinz commented on #794
@lfunkhouser FYI. I check the last few builds and I don't see any of the doc changes listed in this issue in the .pdfs.

[2017-01-18 22:29] elinz opened #802 "Doc - Coordinate Notation section - clean up comments under "Degree-based formats""
### Widget

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
![image](https://cloud.githubusercontent.com/assets/4635490/22085828/a216cdce-dd8a-11e6-8ecd-1635601fd0cf.png)

![image](https://cloud.githubusercontent.com/assets/4635490/22085712/1da9e5c6-dd8a-11e6-8471-9d01c60eed97.png)

[2017-01-18 22:40] nfeuerstein commented on #799
Moving GP service enhancement to version after-next.

[2017-01-18 22:45] nfeuerstein commented on #799
Verify gigzy's fix produces error and close out if it does.  A new issue should be created for the enhancement to have client-side checks.

[2017-01-18 22:48] nfeuerstein commented on #794
Next steps:
Remove masculine ordinal indicator
Kick off publish of doc
Kick off build
@elinz will verify and close

[2017-01-18 22:50] mfunk commented on #799
Working on a check in the viewshed.py to make sure point falls within surface **extents** and throws exception if not.

In trying to keep the solution 'light' and not expend extra processing time I'm working with the surface extents and not it's data "mask" area. If we need that level of check it will add more time.

[2017-01-18 23:33] mfunk commented on #799
@ACueva
Fixed in PR #803.
test service is updated, please retest.

[2017-01-19 08:37] adgiles commented on #799
Confirmed fix works for both single raster and mosaic dataset

[2017-01-19 08:37] #799 closed

[2017-01-19 08:57] adgiles commented on #794
@elinz

My mistake I stupidly copied the characters being used on the pro help page that are not correct, the symbol they are using for Degree Sign and Ring Above are the same. The widget should now except the following three symbols: °˚º

[2017-01-19 15:21] adgiles commented on #673
@joebayles @nfeuerstein @kgonzago

Fix applied in the following branch:

https://github.com/Esri/solutions-webappbuilder-widgets/tree/ag_GRG_hex_grid/GRG

can someone verify and merge if ok

[2017-01-19 15:24] elinz commented on #794
@adgiles I'm assuming these Unicode characters:
Degree Sign ° (U+00B0)
Ring Above ˚ (U+02DA)
Masculine Ordinal Indicator º (U+00BA)

[2017-01-19 15:34] adgiles commented on #794
Correct

[2017-01-19 15:55] adgiles opened #805 "Coordinate Conversion - Enhance the configuration settings"
### Widget

Coordinate Conversion

### Version of widget

2.2

### Bug or Enhancement

I think it would be worth considering adding the ability to set the default format for each notation in the settings page. This way the administrator of an organization can set up how they would like their format to be instead of the user having to set it every time.

It could look something like:
![untitled1](h

[2017-01-19 16:03] adgiles opened #806 "Distance and Direction: Enhance the configuration settings"
### Widget

Distance and Direction

### Version of widget

2.2

### Bug or Enhancement

I think it would be worth considering adding the ability to allow the user to set which tabs they would like in the widget this would make it more flexible for the user. They may for instance just want a tool that does distance and direction or range rings and not all four tabs.

It could look something like:

[2017-01-19 16:15] elinz commented on #794
@topowright @Dbarnes1 Don't remove the Remove masculine ordinal indicator degree symbol yet from the doc. @adgiles made a fix. I'm testing all the combinations of degree, minutes, seconds symbols for DD, DDM, and DMS.

[2017-01-19 16:28] elinz commented on #794
@topowright @Dbarnes1 I finished testing all the combinations of symbols. They are all working so leave the masculine ordinal indicator degree symbol in the doc.

[2017-01-19 16:29] Dbarnes1 commented on #794
@elinz, I'll make sure to put it back in. Thanks for testing!

[2017-01-19 16:42] Dbarnes1 commented on #794
ready to verify in the next build.

[2017-01-19 16:45] adgiles commented on #706
@elinz

This happens with all widgets including the ones out of the box on all the themes where you can place widgets on the map area (not within a header controller group):

- Billboard Theme
- Foldable Theme
- Jewelry Box Theme
- Launchpad Theme

I don't recommend we start change core functionality

[2017-01-19 19:22] Dbarnes1 commented on #794
@elinz and I just made some final changes to the doc regarding coordinate support, now it should be ready for final verification.

[2017-01-19 21:28] nfeuerstein commented on #802
@elinz has this been verified?

[2017-01-19 21:29] elinz commented on #802
@nfeuerstein I will with new build. the previous build was missing the widget .pdf. Now it exists.

[2017-01-19 21:51] elinz commented on #794
Verified in web app builder .pdf build 19 Jan 2017 13:18 #1155. Closing issue.

[2017-01-19 21:51] #794 closed

[2017-01-19 21:57] elinz commented on #802
@nfeuerstein Verified fixed in web app builder .pdf in build 19 Jan 2017 13:18 #1155. Closing issue.

[2017-01-19 21:57] #802 closed

[2017-01-20 14:39] adgiles commented on #782
@elinz

I have addressed this issue, the server will return a UPS coordinate if in the polar regions

i know it is marked as next version but in fixing I noticed incorrect values were being created for MGRS and USNG, so I have merged these changes in.

The label for UTM output will switch between UTM/UPS as required:

![untitled](https://cloud.githubusercontent.com/assets/3740334/22153190/348b87e6

[2017-01-20 15:23] elinz commented on #782
@nfeuerstein Please advise.

At this late date, I'm inclined to have @adgiles revert this change. Accepting this change means that we have a major difference between the widget and the Pro and ArcMap addins, i.e the widget handling the polar regions and the addins don't.

This change would still require some changes as we never should automatically be changing the output format box from UTM to UPS

[2017-01-20 15:43] nfeuerstein commented on #782
@elinz @dfoll @adgiles does this fix require doc updates?

[2017-01-20 15:44] Dbarnes1 commented on #782
@nfeuerstein yes it does.

[2017-01-20 15:45] nfeuerstein commented on #782
@adgiles please revert the change for now.  We can add this back in after we release this version.  This change will require further validation, testing, and documentation updates that we do not have the bandwidth for at this time.

[2017-01-20 15:55] adgiles commented on #782
According to Eric's description at the top Arcmap does handle the polar regions and returns the correct UPS and MGRS. If the widget is returned to what it was it will be producing incorrect results

[2017-01-20 16:06] elinz commented on #782
@adgiles ArcMap handles MGRS/USNG in the Polar regions does (i.e Identify tool, Add XY tool), but the Coordinate Conversion addin for Pro and ArcMap do not handle MGRS/USNG in the Polar regions.

[2017-01-20 17:17] adgiles commented on #782
@nfeuerstein

The issue is the widget was handling UPS originally but we were not checking for a UPS response so the widget was actually throwing an error. The changes I have made are to catch this and prevent it from happening. In doing so I visually inform the user that they have a UPS coord not a UTM by swapping the label.

You can see the changes I made here:

https://github.com/Esri/solutions

[2017-01-20 17:25] elinz commented on #782
@adgiles @nfeuerstein We had already handled this issue for this release by places notes in the widget doc and release notes that polar regions weren't supported for these coordinate systems and that if the addin/widget had produced a value that it was incorrect.

[2017-01-20 17:27] nfeuerstein commented on #782
@adgiles while we obviously don't want incorrect results, I agree with @elinz that we had already discussed this and agreed that we would address it through documentation this release.  That is why this issue was marked "Version - After Next"

[2017-01-20 17:29] elinz commented on #782
@adgiles We shouldn't be creating any output for UTM at the Polar regions. I mention this in my initial issue. The identify tool in ArcMap does not return a UTM value when your in the polar regions and neither does GeoTrans.

[2017-01-20 17:31] elinz commented on #782
ArcMap identify tool DD in polar region...
![image](https://cloud.githubusercontent.com/assets/4635490/22158855/2b14d670-def3-11e6-95fc-6acfc627f4fe.png)

Switching to UTM...
![image](https://cloud.githubusercontent.com/assets/4635490/22158865/37725596-def3-11e6-857f-05a22e4202c1.png)

[2017-01-20 17:34] adgiles commented on #782
I'm not at my PC to revert the changes so somebody will have to revert them.

[2017-01-20 18:23] adgiles commented on #782
Cheers Avi

[2017-01-20 18:24] elinz commented on #782
Thanks @ACueva

[2017-01-20 19:37] elinz opened #807 "Doc - Coordinate Conversion - Supported Notation Formats has invalid MGRS coordinates"
@nfeuerstein FYI.

### Widget

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details

All of the MGRS coordinates in the doc are using invalid Zone/Lat Band, 100k grid designator. There was a typo added when the xmetal topic was written.

All MGRS coordinates in doc that start with...
115WC

Should be change to 11SWC

people are going to try and cut and past from the

[2017-01-20 19:37] dfoll opened #808 "Coordinate Conversion is not allowing coordinates to be pasted into the input box"
### Widget
Coordinate Conversion
### Version of widget
Build 1169
### Bug or Enhancement
When you paste coordinates into the input box and press enter, nothing happens
### Repo Steps or Enhancement details

from a newly opened instance of the app you created that has the coordinate conversion widget

set your input coordinates to MGRS formatted as "22J BR 05020 41930"

paste in some MGRS coordinat

[2017-01-20 19:38] dfoll commented on #808
@lfunkhouser @nfeuerstein  please review and assign.... this seems pretty critical to me.... feel free to have someone else verify this is a bug and not some fluke for me first

[2017-01-20 19:46] elinz opened #809 "Visibility: Can't open the Viewshed toolbox in ArcMap"
### Widget

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
In ArcMap 10.3.1, I navigate to FINAL\Web AppBuilder Developer Edition\Geoprocessing\Viewshed\Viewshed.tbx

Double-clicking does not open the toolbox.

[2017-01-20 19:50] Dbarnes1 commented on #807
@elinz this has been fixed, will set to verify once we publish to build.

[2017-01-20 19:50] kgonzago commented on #809
@elinz Is this widget related?

[2017-01-20 19:52] elinz commented on #809
@kgonzago no, gp service. but didn't know what the repo was for the gp tools

[2017-01-20 19:56] mfunk commented on #809
Ah. Crap. All ArcMap testing was 10.4.1... so tool fixes in 10.4.1.
Toolboxes are NOT backwards compatible.

[2017-01-20 20:13] kgonzago commented on #809
@elinz PR #810 with new toolbox to support 10.3.1.

[2017-01-20 20:18] dfoll commented on #808
@kgonzago i know we worked on this together, so you saw a lot of it with your own eyes, but going through the doc, this is the section in particular that seems to repeatedly start throwing all sorts of stuff in the console window....

Change the display of input coordinates
The input coordinates can be changed to a number of predefined coordinate formats.
1. Click the Format Output button in the i

[2017-01-20 20:33] elinz commented on #809
@kgonzago @mfunk I copied the new toolbox that was placed in the FINAL folder and copied local, however, I still can't open the toolbox in ArcMap 10.3.1

[2017-01-20 20:58] topowright opened #811 "Documentation is out of order for the Widget"
### Widget
Visibility
### Version of widget

### Bug or Enhancement
The first set in using the Visibility widget should be "Set up the visibility geoprocessing service" This has to be done before a user can configure the widget.

The solution is move around the topic in the map
### Repo Steps or Enhancement details

[2017-01-20 20:58] elinz commented on #809
@mfunk saved the .tbx to 10.2.x format and now I can open the toolbox in ArcMap 10.3.1. The .tbx file in the FINAL build folder has been updated.

Closing this issue.

[2017-01-20 20:58] #809 closed

[2017-01-20 21:15] Dbarnes1 commented on #811
fixed, will be verified in next published pdf.

[2017-01-20 21:15] #811 closed

[2017-01-20 21:16] kgonzago commented on #808
@dfoll can you verify?

[2017-01-20 21:49] elinz opened #813 "Distance and Direction - no tool tips on "Set Coordinate Format String" and "Map Point" tools"
@nfeuerstein FYI.

### Widget

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
For Lines, Circle, Ellipse, and Rings tabs, we don't have tool tips on the "Set Coordinate Format String" and "Map Point" tools...
![image](https://cloud.githubusercontent.com/assets/4635490/22166648/fd993078-df16-11e6-869f-a7b779777aad.png)

[2017-01-20 21:52] dfoll commented on #808
looked at this fix. now when you paste something in and press enter it pans to that point and just formats the input to have no spaces in it. i think this is ok, as if you need to see the coordinates you just inputed in a different notation, you can format one of the outputs to have the notation you need to see it in, i doubt there are many people doing that exact workflow

[2017-01-20 21:56] dfoll commented on #808
calling it good

[2017-01-20 21:58] ACueva commented on #808
Have these changes made it into our Final Build folder?

[2017-01-20 22:34] elinz opened #815 "Distance and Direction - Circle - Distance Calculator create incorrect results if "From" set to Diameter"
### Widget

### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
If Radius is set as "Create Circle From". The widget creates correct output.
![image](https://cloud.githubusercontent.com/assets/4635490/22167716/0bb057da-df1d-11e6-9200-e6ee2d8d38ea.png)

If Diameter is set as "Create Circle From". The widget creates incorrect output. The widget should have created a

[2017-01-20 22:39] Dbarnes1 commented on #815
@elinz its in the known issues.

[2017-01-20 23:46] elinz commented on #807
Verified on final 1172 build. Closing issue.

[2017-01-20 23:46] #807 closed

[2017-01-20 23:47] elinz commented on #815
Verified on final 1172 build. Closing issue.

[2017-01-20 23:55] ACueva commented on #808
Verified this is working in Final_1172.  It is Not flashing cross hairs.  Not sure if this is as designed.  If so recommend we log another issue for next release. @dfoll

[2017-01-21 00:44] elinz opened #816 "Distance and Direction - Ellipse tool does not create correct Full ellipse when typing in coordinates"
### Widget

### Version of widget
Final 1172 (20 Jan 2017)
### Bug or Enhancement

### Repo Steps or Enhancement details
A correct ellipse is created when Ellipse type is set to Semi and you type in the following Center Point and Axis' values:
Center Point: 0 0
Major 3000
Minor 1500
Units: Kilometers
Using the measure tool, the width of the ellipse is 6000 kilometers and height 3000 kilometers.
Th

[2017-01-21 03:01] dfoll commented on #808
reopening because i only tested by downloading directly from the repo,

[2017-01-21 03:02] dfoll commented on #808
i updated the documentation to take out the flashing cross hairs

[2017-01-22 16:08] adgiles commented on #816
@elinz

When I asked @kgonzago what was the difference between a semi ellipse and a full ellipse the answer was just that the label of the major axis was either the diameter for a full or radius for a semi, no change in the actual size of the ellipse being created, so the tool is correct for how it was designed to work.

[2017-01-23 09:34] adgiles commented on #808
This fix has now caused issues with a number of the other inputs as the code has been changed to strip out spaces from the input yet spaces are required in other inputs to distinguish the different element parts of the coordinate (i.e. DMS with using notation: 17 40 44.09 172 58 7.50) . Out of the inputs the following now do not work:

DMS in this sort of format (17 40 44.09 172 58 7.50)
MGRS (if

[2017-01-23 14:40] #808 closed

[2017-01-23 15:11] elinz commented on #816
@adgiles That's only when you interactively create an ellipse (fyi: labeling for major and minor should change; current tool only changes the major label). When you type in the center point and axis values and the user selects full, the values entered are the length of the major and minor axis (i.e. total width and height of the ellipse). In the case described above, the ellipse should be half the

[2017-01-23 15:14] elinz commented on #816
@adgiles We will have to get together and discuss this full vs semi ellipse stuff so that the widget and addins are all working the same way. There has been a lot of confusion about this. I entered this issue after talking with @mfunk to make sure I understood how ellipses should be created.

[2017-01-24 09:54] adgiles commented on #813
Fix applied in this branch:

https://github.com/Esri/solutions-webappbuilder-widgets/tree/ag-DistanceAndDirection-dev

Please verify

[2017-01-24 12:34] adgiles commented on #793
addressed in https://github.com/Esri/solutions-webappbuilder-widgets/tree/ag-CoordinateConversion-Dev

Please verify

[2017-01-24 12:35] adgiles commented on #783
addressed in branch:  https://github.com/Esri/solutions-webappbuilder-widgets/tree/ag-CoordinateConversion-Dev

Please verify

[2017-01-24 12:36] adgiles commented on #782
addressed in branch:  https://github.com/Esri/solutions-webappbuilder-widgets/tree/ag-CoordinateConversion-Dev

Please verify

[2017-01-24 12:37] adgiles commented on #739
addressed in branch:  https://github.com/Esri/solutions-webappbuilder-widgets/tree/ag-CoordinateConversion-Dev

Please verify

[2017-01-24 13:23] adgiles opened #818 "Distance and Direction - Add "+/-" prefix on DDM causes incorrect values"
### Widget

 Distance and Direction

### Version of widget

All Versions

### Bug or Enhancement

If you turn on the ability to add a "+/-" prefix on to the DDM format the prefix is added to the front of the minutes not the degrees:

![image](https://cloud.githubusercontent.com/assets/3740334/22248815/4fb1f254-e238-11e6-90c0-1f401c775d8f.png)

[2017-01-24 13:26] adgiles opened #819 "Distance and Direction - Add "+/-" prefix on DMS has no affect to the output value"
### Widget

Distance and Direction

### Version of widget

All versions

### Bug or Enhancement

Adding "+/-" prefix on DMS has no affect on output value

![image](https://cloud.githubusercontent.com/assets/3740334/22248911/b6052404-e238-11e6-9cf0-6dadb9f78300.png)

[2017-01-24 13:31] adgiles opened #820 "Distance and Direction - Remove the ability to add "+/-" prefix on notations that do not support"
### Widget

Distance and Direction

### Version of widget

All versions

### Bug or Enhancement

Remove the ability to add "+/-" prefix on notations that do not support, such as:

MGRS
USNG
GEOREF
GARS
UTM

[2017-01-24 19:29] dfoll opened #821 "Documentation does not have system requirements anywhere"
@lfunkhouser We need to add system requirements to documentation. Because we cannot just provide a hyperlink like we traditionally do on the solutions pages. How do we want to write this? just copy/paste from the system requirements for Desktop, Pro, and WAB (Developer Edition) into their respective pdfs?

[2017-01-24 21:08] dfoll commented on #821
as per @lfunkhouser we are forgoing system requirements in distributed documentation at this time. accompanying documentation describes what version of core software are supported as well as required extensions, and we are making the assumption that if the user has the required core software, they have also been able to figure out and meet the minimum system requirements to run said pieces of soft

[2017-01-24 21:08] #821 closed

[2017-01-26 17:59] elinz opened #822 "Distance and Direction - Rings - Allow user to create unequally spaced rings through keyboard"
### Widget
Distance and Direction
### Version of widget

### Bug or Enhancement

### Repo Steps or Enhancement details
We allow the user to interactively create unequally spaces rings...
![image](https://cloud.githubusercontent.com/assets/4635490/22343647/be51af6c-e3ad-11e6-8bca-d17f52ed037f.png)

It would be very useful to be able to create unequally spaces rings through the keyboard. For user in

[2017-01-31 14:47] adgiles commented on #741
@elinz @kgonzago

Fixed please verify

[2017-01-31 14:57] adgiles commented on #819
fixed please can somebody verify

[2017-01-31 14:57] adgiles commented on #820
fixed please can somebody verify

[2017-01-31 14:58] adgiles commented on #818
fixed please can somebody verify

[2017-01-31 15:00] adgiles commented on #800
fixed please verify

[2017-01-31 15:11] adgiles commented on #745
Fix applied in dev branch. Please verify

[2017-01-31 15:11] adgiles commented on #744
Fix applied in dev branch. Please verify

[2017-01-31 15:12] adgiles commented on #743
Fix applied in dev branch. Please verify

[2017-01-31 15:12] adgiles commented on #742
Fix applied in dev branch. Please verify

[2017-01-31 15:14] adgiles commented on #749
Fix applied in dev branch. Please verify

[2017-01-31 23:20] elinz commented on #741
Verified fixed on build 31 Jan 2017 13:46 Pacific. Closing issue.

[2017-01-31 23:20] #741 closed

[2017-01-31 23:32] elinz commented on #800
@adgiles @kgonzago Still not working correctly.

For DMS the following are not working; they are placed in the wrong hemisphere
1. 45 0 0.0- 100 0 0.0-
2. 45 0 0.0- 100 0 0.0+
3. 100  0 0.0- 45  0 0.0-
4. 100  0 0.0+ 45  0 0.0-

Reassigning back to @adgiles

[2017-02-01 00:08] elinz commented on #749
@adgiles @kgonzago Here are the test cases I used. I found some issues. See those below marked "ERROR". Assigned back to @adgiles

## DMS

### Seconds
- [ ] ERROR: 45 15 59.999N 100 30 00W -> Widget performs auto correct and converts this to: 45° 16.0000'N 100° 30.0000'W
- [ ] ERROR: 45 15 00N 100 30 59.999W -> Widget performs auto correct and converts this to: 45° 15.0000'N 100° 31.0000'W

### Mi

[2017-02-01 01:06] elinz commented on #818
Verified fixed on build 31 Jan 2017 13:46 Pacific. Closing issue.

[2017-02-01 01:06] #818 closed

[2017-02-01 01:08] elinz commented on #819
Verified fixed on build 31 Jan 2017 13:46 Pacific. Closing issue.

[2017-02-01 01:08] #819 closed

[2017-02-01 01:27] elinz commented on #745
@adgiles @kgonzago Tested with build 31 Jan 2017 13:46 Pacific.

Implementation does not conform to how Coordinate Conversion handles Long Lat, in that when you enter coordinate (either by cut/paste or typing) in Long Lat order, the tool changes the coordinate order to Lat Long. The Coordinate Conversion widget does not change the order to Lat Long; it leaves it in the order that the user has ente

[2017-02-01 01:28] elinz commented on #744
@adgiles @kgonzago Tested with build 31 Jan 2017 13:46 Pacific.

Implementation does not conform to how Coordinate Conversion handles Long Lat, in that when you enter coordinate (either by cut/paste or typing) in Long Lat order, the tool changes the coordinate order to Lat Long. The Coordinate Conversion widget does not change the order to Lat Long; it leaves it in the order that the user has ente

[2017-02-01 01:30] elinz commented on #743
@adgiles @kgonzago Tested with build 31 Jan 2017 13:46 Pacific.

Implementation does not conform to how Coordinate Conversion handles Long Lat, in that when you enter coordinate (either by cut/paste or typing) in Long Lat order, the tool changes the coordinate order to Lat Long. The Coordinate Conversion widget does not change the order to Lat Long; it leaves it in the order that the user has ente

[2017-02-01 01:32] elinz commented on #742
@adgiles @kgonzago Tested with build 31 Jan 2017 13:46 Pacific.

Implementation does not conform to how Coordinate Conversion handles Long Lat, in that when you enter coordinate (either by cut/paste or typing) in Long Lat order, the tool changes the coordinate order to Lat Long. The Coordinate Conversion widget does not change the order to Lat Long; it leaves it in the order that the user has ente

[2017-02-01 01:37] elinz opened #827 "Coordinate Conversion: no longer output USNG value"
### Widget
Coordinate Conversion
### Version of widget
31 Jan 2017 13:46 Pacific
### Bug or Enhancement
The tool no longer output a USNG value.

![image](https://cloud.githubusercontent.com/assets/4635490/22491957/ccdb7c34-e7db-11e6-819c-f714cc3bc0ca.png)

### Repo Steps or Enhancement details

[2017-02-01 11:24] adgiles commented on #800
God Damn regexp, I was accepting the minus sign as a valid second symbol, so it was picking it up as the suffix, should all be good now.

@elinz Please can you test again

[2017-02-01 12:02] adgiles commented on #749
@elinz @kgonzago

These look like a rounding issue on the server, the FromGeoCoordString does not have any options for rounding or number of places:

![image](https://cloud.githubusercontent.com/assets/3740334/22505635/750bdd8e-e874-11e6-94f2-4b973d83de15.png)

For DDM it appears anything over 59.993 minutes (.994 .995 .996 .997 .998 .999) gets round up to the next degree.

For DMS it appears anyt

[2017-02-01 13:04] adgiles commented on #742
@elinz

Updated please verify correct behavior

[2017-02-01 13:05] adgiles commented on #743
@elinz

Updated please verify correct behavior

[2017-02-01 13:05] adgiles commented on #744
@elinz

Updated please verify correct behavior

[2017-02-01 13:06] adgiles commented on #745
@elinz

Updated please verify correct behavior

[2017-02-01 13:12] adgiles commented on #827
@elinz

Sorry Eric not sure what happened there, all fixed, please verify

[2017-02-01 14:30] adgiles commented on #820
@elinz

Enhancement added please verify

[2017-02-01 14:45] adgiles commented on #707
@elinz

Fixed please verify

[2017-02-01 16:56] adgiles commented on #822
@elinz

Updated please verify that it behaves as expected

[2017-02-02 08:58] adgiles opened #828 "Coordinate Conversion: Add support for comma seperated decimals"
### Widget

Coordinate Conversion

### Version of widget

All Versions

### Bug or Enhancement

Many countries use a comma instead of a decimal point:

https://en.wikipedia.org/wiki/Decimal_mark

Currently the widget will not support this, the regular expressions need up dating to support commas

[2017-02-02 09:17] adgiles commented on #828
@elinz

Enhancement Added. please verify

[2017-02-06 16:05] elinz commented on #827
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:05] #827 closed

[2017-02-06 16:16] elinz commented on #800
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:16] #800 closed

[2017-02-06 16:23] elinz commented on #820
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:23] #820 closed

[2017-02-06 16:25] elinz commented on #707
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:25] #707 closed

[2017-02-06 16:45] elinz commented on #742
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:45] #742 closed

[2017-02-06 16:47] elinz commented on #743
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:47] #743 closed

[2017-02-06 16:51] elinz commented on #745
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:51] #745 closed

[2017-02-06 16:53] elinz commented on #744
@adgiles Verified fixed. Closing issue.

[2017-02-06 16:53] #744 closed

[2017-02-06 16:57] elinz opened #829 "Distance and Direction - Ellipse: Can no longer create ellipses by keying in coordinates/axis length"
### Widget
Direction and Direction
### Version of widget
06 Feb 2017
### Bug or Enhancement
When I key in the Center Point coordinate, axis major and minor, and the angle an ellipse is not created. I've made sure to hit return after I enter each parameter.

![image](https://cloud.githubusercontent.com/assets/4635490/22657138/3c738e34-ec4a-11e6-8ff0-590026dffcc5.png)

### Repo Steps or Enhancement

[2017-02-06 21:08] elinz commented on #783
@adgiles Verified fixed. Closing issue.

[2017-02-06 21:45] elinz commented on #782
@adgiles MGRS and USNG are working correctly. Currently, the widget switches the output format label to UPS for both UTM and UTM (H) and populates these output controls with the corresponding UPS value. For UTM and UTM (H) we should not convert the output to UPS, as the user is expecting UTM. Since UTM is not valid in the polar regions we should leave the output controls labeled as "UTM" and "UTM

[2017-02-07 09:32] adgiles commented on #829
@elinz

Sorry copy/paste error, should be fixed now, please verify

[2017-02-07 17:15] elinz commented on #829
@adgiles Verified fixed. Closing issue.

[2017-02-07 17:15] #829 closed

[2017-02-14 12:53] topowright opened #830 "Grid Overlay does not load"
### Widget
Grid Overlay
### Version of widget
1.0
### Bug or Enhancement
When attempting to use the widget it will not load as an option in the widgets avaiable to a new app.
### Repo Steps or Enhancement details
Add the widget to WAB siteapp
Create a new app
Add a new widget to the new app

[2017-02-14 12:57] kgonzago commented on #830
@topowright What version of WAB are you using?

[2017-02-17 17:16] elinz commented on #737
@kgonzago I'm reopening this issue.

Distance Calculations should never be performed based on diameter. No mater what the user selects from the "From" pameter, the distance calculation should be based on radius. When users perform a Distance Calculation they want to know how far something can travel from the center point outward based on time and rate, which is the radius. This fix should be rever

[2017-02-17 17:21] elinz opened #831 "Distance and Direction: Distance Calculation should label based on units specified in Distance Calculation parameters"
### Widget
Distance and Direction

### Version of widget
1.0 release of Military Tools for ArcGIS

### Bug or Enhancement
Perform distance calculation where center point is on New York City, time is 24 hours, rate is 60 miles per hour, which equals 1440 miles.

The widget labels the output graphic based on the Radius/Diameter units instead of the units set in the Rate parameter. For this example,

[2017-02-19 18:29] daveb1034 opened #832 "Support for British National Grid and Irish Grid in Coordinate Conversion Widget"
### Widget
Coordinate Conversion

### Version of widget
Current
### Bug or Enhancement
Enhancement
### Repo Steps or Enhancement details
The majority of the solutions we provide require the output coordinates in British Nation Grid or Irish Grid. The default behaviour for the viewer is to output just easting and northings rather than a formatted grid. British National Grid coordinates are output a

[2017-02-20 11:01] adgiles commented on #831
@elinz

The label is set using the units specified by the user in the drop downs. When the distance calculator is used it converts the calculated distance to the correct figure in the distance input box.

So for example if I have the units set to meters and the create circle from radius, and I use the distance calculator to work out 2 hours at 10 kilometres per hour, the units will automatically b

[2017-02-20 11:17] adgiles opened #833 "Visibility Widget: Add Coordinate Input Control for setting the observer location"
### Widget

Visibility Widget

### Version of widget

All Versions

### Bug or Enhancement

For consistency across widgets a user should be able to input an observer location using the coordinate control as per the distance & direction and coordinate conversion widgets.

[2017-02-21 16:19] elinz commented on #831
@adgiles @kgonzago @nfeuerstein We'll need to discuss this further and make a final decision.

[2017-02-21 17:31] Dbarnes1 opened #834 "Distance and Direction Configuration Page - Unexpected Behavior when dynamically choosing colors"
When working on the Distance and Direction Feedback Style in the configuration page for the widget, I'm realizing that you have to be careful where you click in the color palette pop-ups when choosing Line Color. In order to use the color picker properly, you have to move your cursor over the slider, and then move around. If you click anywhere else either on the color bar or the color palette box,

[2017-02-21 17:36] joebayles opened #835 "Visibility - Add Measurement Configuration Options"
### Widget
Visibility

### Version of widget
1.0

### Bug or Enhancement
Enhancement

### Repo Steps or Enhancement details
- [ ] Give the ability to edit the minimum and maximum observer height
- [ ] Give the ability to edit the minimum and maximum range
- [ ] Give the ability to change the units of measure

These are based on feedback from the FedGIS conference. Use cases include visibility from

[2017-02-21 18:22] Dbarnes1 opened #836 "Distance and Direction - create lines from distance and bearing broken"
when creating a line from distance and bearing, I'm unable to get the line to update when I click enter after entering a specific distance and degree bearing. Instead, all I am able to do is draw the tool interactively as if I were still drawing from points. See screenshot for result, and note that distance and bearing is the option selected:
![image](https://cloud.githubusercontent.com/assets/130

[2017-02-22 14:51] adgiles commented on #836
@Dbarnes1

Dan this issue should be resolved, I have slightly changed the behaviour of this part of the tool for it to make more sense to the user, if you select distance and bearing from the drop down the drawing tool changes from line input to point input. The user then drops a point on the map, types in a length and then an angle, hits return in the angle box and the line is drawn.

Switching t

[2017-02-22 15:42] Dbarnes1 opened #838 "Distance and Direction- Lines - Distance and Bearing - No zoom to output"
I'd like to see the Distance and Direction widget zoom to the output of lines created via distance and bearing. If I'm at a very small scale and then input a distance of only 1000 meters, I'd like to see the map zoom into my output. This functionality already exists in the add-ins, and in the widget for zooming to the output of circles created with the distance calculator, and non-interactive rang

[2017-02-22 15:43] Dbarnes1 commented on #836
@adgiles lines look good! I checked against the other shapes and it seems they are still working fine as well. The only thing that I'm noticing now is that the map doesn't zoom to the extent of the line output when it is created from distance and bearing. I think to mimic the distance calculator for circles and non-interactive range rings, this functionality should be added. I logged this enhancem

[2017-02-22 15:43] #836 closed

[2017-02-22 17:35] topowright commented on #830
I have tried this on version 2.2 @kgonzago

[2017-02-22 17:42] topowright opened #839 "Bomb Threat widget needs a configuration page and documentation"
### Widget
Bomb Threat widget
### Version of widget
Using WAB 2.2 not sure if the widget has been released
### Bug or Enhancement
Enhancement
### Repo Steps or Enhancement details
Add the widget to an app and access the configuration page.

[2017-02-22 17:44] topowright commented on #839
![image](https://cloud.githubusercontent.com/assets/5488313/23224486/7ea5f544-f8e3-11e6-8fea-d14cde176e73.png)
The sample layer is no longer available.

[2017-02-23 11:49] adgiles commented on #838
@Dbarnes1

Dan, issue addressed please verify

[2017-02-23 12:51] adgiles commented on #834
@Dbarnes1

I cannot replicate this issue tried using the following browsers:

•Chrome Version 55.0.2883.87
•Firefox Version 50.1.0
•IE Version 11.0.9600.16384

Can you check again and let me know which browser you are using if problem is still present

[2017-02-23 13:41] adgiles commented on #737
@elinz  the tool should be behaving the way you describe please verify

[2017-02-23 15:25] Dbarnes1 commented on #838
@adgiles it looks like the map is zooming to the output from distance and bearing. But it is also zooming to output from interactive map point tool as well. I don't think that is expected, because it doesn't zoom to other shapes created interactively, nor does that happen in Pro or ArcMap.

[2017-02-23 22:07] Dbarnes1 commented on #834
@adgiles I would expect it to work like this color editor in Pro, where I am able to select any color by clicking on any of the bars or anywhere in the color palette:

![image](https://cloud.githubusercontent.com/assets/13024357/23281242/61ea4e20-f9d1-11e6-9bf8-e479f0e57789.png)

[2017-02-24 15:12] adgiles commented on #734
@elinz @Dbarnes1

I have updated the config for this widget can somebody verify

[2017-02-24 15:12] adgiles commented on #805
@elinz @Dbarnes1

I have updated the config for this widget can somebody verify

[2017-02-24 15:17] adgiles commented on #834
@Dbarnes1

I am still unsure of the issue, the widget is using the colour picker from core development, I can click on the vertical bar or the big colour square and everything works as expected

[2017-02-24 16:11] Dbarnes1 commented on #834
after showing @kgonzago he will investigate what is going on, it looks like it is an issue with core wab.

[2017-02-24 16:18] kgonzago commented on #834
@Dbarnes1 @adgiles I confirmed it is an issue with the WAB color chooser dijit. I will submit an issue for the dev team to fix.

[2017-02-24 16:19] Dbarnes1 commented on #734
@adgiles verified. closing.

[2017-02-24 16:19] #734 closed

[2017-02-24 16:36] Dbarnes1 commented on #805
@adgiles verified, however I'm not closing this yet as it will affect documentation. I'm also noticing that support has been added back in for GARS and GEOREF. Has anyone verified that these coordinate formats now work with the rest of the tool?

[2017-02-24 16:51] elinz commented on #805
@adgiles @Dbarnes1 @kgonzago I haven't verified the GARS and the addition of GEOREF or the UTM hemisphere/latitude band changes because I wanted to wait for planning for the next release of Military Tools to make sure the product owner wanted these changes for the next release.

[2017-02-24 16:53] elinz commented on #805
@adgiles @Dbarnes1 @kgonzago In fact, even this change should be discussed in release planning.

[2017-02-24 16:54] kgonzago commented on #834
Submitted the [issue](https://devtopia.esri.com/WebGIS/arcgis-webappbuilder/issues/8740). Closing this since it's a core issue.

[2017-02-24 16:56] Dbarnes1 commented on #805
I'll hold off on documentation until we discuss in release planning.

[2017-02-27 14:59] kgonzago commented on #834
@Dbarnes1 @adgiles

FYI, this issue is a known limitation in Chrome. Apparently it doesn't exist in IE nor FF. According to the WAB dev team, it's a bug in the  dojox/widget/ColorPicker, core Dojo bug.

@Dbarnes1 I suggest we doc this as a known limitation for the D&D widget.

[2017-03-02 04:38] topowright opened #842 "ERG Configuration"
### Widget
ERG
### Version of widget
WAB 2.2
### Bug or Enhancement
Configuration page does not have a point where a user can enter the service end points
### Repo Steps or Enhancement details
Add the widget to the siteapp/widgets folder
Add widget to an App
Attempt to configure the widget
![image](https://cloud.githubusercontent.com/assets/5488313/23493223/fa3aeb34-febe-11e6-8ba7-5f92a68f2c17.png

[2017-03-02 14:34] kgonzago commented on #842
@topowright Were you able to click on, for example, the "Geoprocessing Services Parameters" header which expands and displays the section for GP services?

[2017-03-02 16:57] NatureMike commented on #838
I have two questions.   Is there a demo site where we can try this widget, and does it let you draw a line and then see the distance and bearing of that line?  Thanks.

[2017-03-02 18:08] topowright commented on #842
![image](https://cloud.githubusercontent.com/assets/5488313/23520516/33ae2680-ff30-11e6-91f1-5f58d63cfe12.png)

[2017-03-02 18:11] topowright commented on #842
Kevin just found the issue while looking at my instance of the widget. Seems to be an array issue.

[2017-03-02 20:34] topowright commented on #842
@kgonzago I was not able to expand the dialog on the configuration page for each of the service inputs.

[2017-03-02 21:14] kgonzago commented on #842
@topowright Issue fixed. Please verify when you get a chance.

[2017-03-02 21:17] kgonzago commented on #838
@NatureMike Here's a try-it-live [site](http://esri.github.io/solutions-webappbuilder-widgets/) and yes to your second question

[2017-03-04 11:33] topowright commented on #842
@kgonzago this widget now allows me to configure the widget. Verified the fix.

[2017-03-04 11:33] #842 closed

[2017-03-04 12:24] topowright commented on #830
When I add the widget from the dev branch I get this message when adding it to the WAB:

![image](https://cloud.githubusercontent.com/assets/5488313/23578701/dace8fa6-0091-11e7-8d4b-79f8ed4187c7.png)

If I add the widget that i received from @joebayles I get this message an the widget works.

![image](https://cloud.githubusercontent.com/assets/5488313/23578736/685f065c-0092-11e7-995c-d97389c3f931.

[2017-03-04 12:26] topowright commented on #830
@kgonzago @Dbarnes1 @elinz would you be willing to take a closer look and test to see if you get the same thing I did?

[2017-03-04 12:43] topowright commented on #830
This is an issue based on the folder structure on how it is being stored in the repository.

![image](https://cloud.githubusercontent.com/assets/5488313/23578849/deb50d9a-0094-11e7-863a-b0121c665044.png)

This is the only widget that has a folder structure that does not allow  you to drag and drop the top level folder for the widget. Not sure if we need the folder contributorGuide-JsDoc stored in

[2017-03-04 12:43] topowright commented on #830
I am changing this from a bug to a question.

[2017-03-05 22:49] joebayles commented on #830
@topowright now that I'm thinking about it, I am pretty sure when I downloaded it there was something I had to do with the folder content, like bring it up a level. I can look at it more if you want.

[2017-03-06 13:46] kgonzago commented on #830
@topowright You're spot on with the folder structure and widget not loading correctly. The actual grid overlay widget is embedded here: https://github.com/Esri/solutions-webappbuilder-widgets/tree/dev/GridOverlay/wab/widgets. Copy the GridOverlay folder from that location into your stemapp folder of WAB 2.2 and widget should be available during configuration of an app.

[2017-03-06 19:57] topowright opened #846 "GRG widget does not honor color change for text color of labels"
### Widget
GRG Widget
### Version of widget
1.0
### Bug or Enhancement
BUG
### Repo Steps or Enhancement details
Open up the config page and attempt to change the color using this rgb color code:
#FFFF00

![image](https://cloud.githubusercontent.com/assets/5488313/23627054/0359587e-0264-11e7-8330-8a2f338c997d.png)

After hitting okay and accepting the config change open the config page back up and

[2017-03-06 20:04] topowright commented on #846
@kgonzago The config file seems to be getting overwritten when the app is still being configured. I think this needs to be documented better. We could state that this is the last thing that you would do before deploying the app. I will trace my steps to find out what I did that made the config file of the app to be overwritten.

Bottom line is the color is honored by the config file. Its the MapOp

[2017-03-07 00:32] topowright opened #847 "GRG Widget cell size in creation"
### Widget
GRG Widget
### Version of widget
1.0
### Bug or Enhancement
Bug
### Repo Steps or Enhancement details
We have attempted to create a graphic that covers an area that should have each grid be 100 X 100; however, this is what we get.

![image](https://cloud.githubusercontent.com/assets/5488313/23636454/4c5a03c2-028a-11e7-9339-ad86d81aa64b.png)

[2017-03-07 00:48] topowright commented on #847
Same size issue with hexagonal grid:

![image](https://cloud.githubusercontent.com/assets/5488313/23636834/a9c6d9de-028c-11e7-8f36-53abeff4b401.png)

[2017-03-07 04:05] topowright commented on #830
@joebayles @kgonzago thanks guys for looking at this. My main reason I kept this open was to ask the question, which I do not think was clear before.

Do we need all of the other content with this widget?

Why do we need to keep this folder?
https://github.com/Esri/solutions-webappbuilder-widgets/tree/dev/GridOverlay/contributorGuide-JsDoc
If we do not need to keep this folder then this widget can

[2017-03-07 14:14] kgonzago commented on #830
@topowright The jsdoc is needed given the grid overlay has a lot of properties for a developer to configure. Each property has it's own jsdoc page. It may be somewhat overkill but the are a lot of moving parts to this widget a developer can configure or enhance. The additional doc we provide will only benefit a developer.

Also, given the multi levels of folder structure for this widget, a quick s

[2017-03-07 14:58] kgonzago commented on #846
@topowright I was able to repro the issue. Looking into it now.

[2017-03-07 16:59] kgonzago commented on #846
@topowright issue fixed. please verify.

[2017-03-07 17:10] kgonzago commented on #847
@topowright issue confirmed. Will get with gigz on this.

[2017-03-07 18:20] joebayles commented on #830
@kgonzago Is there any reason that the jsdoc needs to live in that folder as opposed to everything else? Then at least it would work as intended, and the README can point them to the additional doc.

[2017-03-08 00:52] topowright commented on #847
Here is an example when creating a grid further away from the equator:

![image](https://cloud.githubusercontent.com/assets/5488313/23684882/1a5f40b8-0356-11e7-863d-fff7f996f216.png)

Talking to some other people in Solutions (@MikeMillerGIS and @pLeBlanc93  )there is a thought that it could be a difference in using planar measurements and not geodesic measurements.

[2017-03-08 00:54] topowright commented on #847
Here is the measurement of a 1000m grid using the geodesic measurement in ArcGIS Pro:
![image](https://cloud.githubusercontent.com/assets/5488313/23684998/b0a133ce-0356-11e7-97cd-fbaf8cbdd37d.png)

[2017-03-08 01:56] ChrisBuscaglia commented on #847
@topowright We had a very similar problem when applying planar buffers (with Public Notification) and ground measurements (using Parcel Drafter) on web-mercator basemaps.  Could it be that the measure tool is actually reporting planar measures?

[2017-03-08 14:55] kgonzago commented on #830
@joebayles jsdoc can be anywhere and have the readme point to it. We just thought it would be easier to have everything packaged together (jsdoc and widget). Do you have a suggestion on where jsdoc can be?

[2017-03-08 15:45] kgonzago commented on #847
@topowright Confirmed: The measurement widget (which relies on esri/dijit/Measurement) by default measures in geodesic mode. The grg widget will need to generate geodesic grids.

[2017-03-08 17:55] topowright commented on #847
@ChrisBuscaglia  and I used ParcelDrafter to make a 100m x 100m square, then added it to the app's basemap. Unfortunately the GRG built a less-than-100m square grid. So the Measure widget is correct, GRG is not.

![image](https://cloud.githubusercontent.com/assets/5488313/23716491/5144442c-03e5-11e7-8da1-59848b4be87c.png)

[2017-03-08 20:15] topowright opened #849 "GRG widget default values do not match"
### Widget
GRG Widget
### Version of widget
1.0
### Bug or Enhancement
Bug The default measurements for cell widget and cell height do not match. One has a comma and one does not.
### Repo Steps or Enhancement details
Add the widget to an app
Launch the app and open the widget
![image](https://cloud.githubusercontent.com/assets/5488313/23722069/d2caf0a0-03f8-11e7-8b63-9043e979caaa.png)

[2017-03-09 00:09] topowright commented on #835
@kgonzago The items that have been identified could be what we show in the upcoming webinar. What are your thoughts?

[2017-03-09 16:01] kgonzago commented on #835
@topowright Good idea. We could dedicate 10-15mins to tackle one of those enhancements.

[2017-03-09 20:03] topowright opened #850 "Using the GRG widget to create a predefined amount of rows and columns"
### Widget
GRG Widget
### Version of widget
1.0
### Bug or Enhancement
Enhancement
### Repo Steps or Enhancement details
LAPD and Homeland Security Advisory Council (HSAC) http://www.hsacouncil.org/ would like to use the GRG widget to create a grid over a predefined area such as a neighborhood. They would want the grid to match the street network. If I had a area covering a area that was three str

[2017-03-13 16:11] joebayles commented on #830
I think in the widget would be fine...

[2017-03-16 17:02] Dbarnes1 commented on #680
![image](https://cloud.githubusercontent.com/assets/13024357/24008719/a352e6a6-0a2f-11e7-9f0e-acd7805aeea6.png)

verifying and closing.

[2017-03-16 17:02] #680 closed

[2017-03-16 17:10] Dbarnes1 commented on #805
@adgiles I'm revisiting the configuration page for coordinate conversion and I'm finding the UI confusing. Why are there 3 columns, where the third is simply the edit icon that really references what is going on in the second column? And the titles are "Edit Default Format" and "Edit Format." Why not just have the edit default format column and you can click on the default formats to change them,

[2017-03-16 20:46] Dbarnes1 opened #851 "Distance and Direction - Lines - No option for Great Elliptic or Loxodrome, assumed default is Geodetic"
### Widget

Distance and Direction

### Version of widget
1.0 for WAB 2.2

### Bug or Enhancement

In order to maintain consistency with the add-in, we should allow the widget to draw not only geodetic lines, but loxodrome and great elliptic lines as well. Like the add-in, we should enable this via a drop down or other simple user interface.

### Repo Steps or Enhancement details
I can't find any

[2017-03-17 14:02] Dbarnes1 opened #852 "Distance and Direction - Ellipse tool does not create correct Full ellipse when using map point tool."
### Widget
Distance and Direction

### Version of widget
1.0 for WAB 2.2

### Bug or Enhancement
Bug

### Repo Steps or Enhancement details
When drawing a full ellipse dynamically, I expect the labels to represent the full major and minor axis, which are the diameters of the two axes of the ellipse. Currently, when I draw an ellipse using the Full drop down on the distance and direction widget, I

[2017-03-17 14:47] Dbarnes1 commented on #816
revisiting these issues as I was testing the wab widgets disconnected, and I think @elinz is right, there is a difference between creating the ellipse dynamically with the map point tool, and manually entering parameters. The ellipse treats the manually entered full major and minor axis as semi, and an ellipse twice the size of the parameters entered will be created as a result. The major full axi

[2017-03-20 14:03] kgonzago commented on #805
@Dbarnes1 Good question. This table element is a SimpleTable dijit offered in WAB. The default behavior of the on hover event is to display the edit controls. We will need to change the CSS quite a bit if we went with your suggestion. What if the "Edit Format" column was changed to "Actions" instead? Will that eliminate the confusion?

[2017-03-20 14:05] kgonzago commented on #851
@Dbarnes1 Those types of lines are not available, a limitation of the JS API for now.

[2017-03-20 15:30] Dbarnes1 commented on #851
@kgonzago thanks, adding known issue

[2017-03-20 15:37] Dbarnes1 commented on #805
@kgonzago that would definitely help, although whatever UI changes seem relatively low priority, so I'll go ahead and add that tag.

[2017-03-24 19:04] topowright commented on #830
I am currently making these changes in the following branch:
https://github.com/Esri/solutions-webappbuilder-widgets/tree/lw-grid-overlay-issue%23830

[2017-03-24 19:14] topowright commented on #830
This issue needs to be verifed in the following pull request: https://github.com/Esri/solutions-webappbuilder-widgets/pull/853

[2017-03-27 15:04] topowright commented on #846
@kgonzago The widget now honors the new color set by the user; however, each time I access the label panel in the configuration dialog it resets to black. If I do not access that panel and I save the color then is honored. I would think we would want the color chosen.

[2017-03-27 15:05] topowright commented on #830
The changes have been made and this can be tested by someone else before we merge the changes.

[2017-04-12 18:07] danielkmog opened #856 "Issue with NetworkTrace Widget"
### Widget
NetworkTrace

### Version of widget
Latest release from Esri's web site.

### Bug or Enhancement
Bug?

### Repo Steps or Enhancement details
I downloaded and configured the valve isolation tool, which also included the NetworkTrace. I followed the guide on Esri's website, it runs fine on the desktop but when I deployed the NetworkTrace to the app builder it returns the following  messag

[2017-04-12 18:18] MikeMillerGIS commented on #856
Are you using the beta or released version?  Could you try the beta script we have on GeoNet?

[2017-04-12 18:24] MikeMillerGIS commented on #856
It appears that the UtilityNetwork cannot be found in the GDB.  Something is getting repathed on publishing.  The Beta of the tool we are planning on releasing in June does a better job of mapping the layers.  Let us know if that works for you.  That has resolved a lot of the issues like this and may help us narrow down what is going on with the Server GP service.

[2017-04-12 18:24] MikeMillerGIS commented on #856
@pLeBlanc93

[2017-04-13 00:56] danielkmog commented on #856
Thanks Mike, the beta works great.

[2017-04-20 21:15] topowright commented on #830
This was merged by @kgonzago

[2017-04-21 17:15] #830 closed

[2017-04-27 16:42] scottlehto opened #859 "Extend the Editor Widget or Edit with a Pop-up"
### Bug or Enhancement

     I'm new to developing in WebApp builder and dojo/javascript so please excuse me if I am off base. But I am looking for some information or a sample that someone has extended the edit widget or the smart editor widget. I am just really confused that I don't see this out there. I would just think that this would be a super common thing to do but I must have it way wrong.

[2017-04-28 13:22] lfunkhouser commented on #739
Assigning MT PEs (in addition to @elinz ) to verify and check documentation.
FYI: @ACueva @dfoll @topowright @NatalieCampos

[2017-04-28 21:58] dfoll commented on #739
@adgiles @kgonzago @lfunkhouser  from what i see, GEOREF has not been added into the widget. However I'm not sure that it should be.... the add-ins do not have GEOREF or GARS, not sure we should add it to the widget just because Pro gp documentation says we support it.

[2017-04-28 22:39] dfoll commented on #739
FYI i got the widget from our build location.... follow on to that, we just confirmed that jenkins was building from the wrong location, however, i still maintain that GEOREF  (nor GARS) should currently be in the widget

[2017-04-28 23:23] topowright commented on #673
I have verified this enhancement.

[2017-04-28 23:23] #673 closed

[2017-05-01 22:10] kgonzago commented on #859
@scottlehto Thanks for your question. This repo contains custom widgets for the WAB. Your question pertains to the edit and smart editor widgets that are part of the core offering of widgets in WAB. If you feel that documentation or samples are lacking, please provide your feedback through https://geonet.esri.com/. The WAB dev team is always looking for feedback.

So, changing textboxes to either

[2017-05-02 04:50] lfunkhouser commented on #828
Assigning to MT PEs to verify. @ACueva @dfoll @topowright @NatalieCampos

[2017-05-02 04:52] lfunkhouser commented on #822
Assigning to MT PEs to verify. @dfoll @topowright @ACueva @NatalieCampos

[2017-05-02 04:54] lfunkhouser commented on #737
Assigning to MT PEs to verify. @ACueva @dfoll @NatalieCampos @topowright

[2017-05-02 04:57] lfunkhouser commented on #813
Assigning to MT PEs @topowright @ACueva @dfoll @NatalieCampos

[2017-05-02 21:06] ACueva commented on #822
I got this one.

[2017-05-02 21:38] ACueva opened #860 "Distance and Direction default pane omits "Rings" tab"
### Widget
Distance and Direction
### Version of widget
Build 05-02-2017_1418
### Bug or Enhancement
Bug?
### Repo Steps or Enhancement details
Note size of pane:

![2017-05-02_14-34-38](https://cloud.githubusercontent.com/assets/3093940/25640473/8ac4e32a-2f44-11e7-98a6-b73ae354f560.png)

This is how it looks with the missing pane:

![2017-05-02_14-35-51](https://cloud.githubusercontent.com/assets

[2017-05-02 21:38] ACueva commented on #860
FYI @nfeuerstein, @lfunkhouser

[2017-05-02 21:58] topowright commented on #846
@kgonzago do you agree with my last statement or is my workflow off?

[2017-05-02 22:10] topowright commented on #739
@kgonzago based on the comment from @dfoll I think this is something that needs to be pulled out of the code.
FYI @nfeuerstein and @lfunkhouser

[2017-05-02 22:21] topowright commented on #739
FYI @nfeuerstein and @lfunkhouser so we know what you want to do for this issue

[2017-05-02 22:22] topowright commented on #737
I am working on this issue.

[2017-05-02 22:30] topowright commented on #860
@ACueva I am not getting this same experience. What is your screen resolution set to? My screen resolution is set

![image](https://cloud.githubusercontent.com/assets/5488313/25642071/50af21e8-2f4c-11e7-8eec-69c7fd500620.png)

[2017-05-02 22:40] topowright commented on #737
@kgonzago @lfunkhouser this is still an issue. The issue is a circle half the size should be drawn when a user changes the inputs from radius to diameter. My screen shot just shows one circle; however, they are calculated the same way, which is the reason why it only looks like one. I am testing from our build location, which might be an issue. I am going to test directly from repo download and ma

[2017-05-02 22:50] ACueva commented on #860
I'm also at 1920 x 1080.  Let me deploy this app to see if the behavior changes.  I noticed this while creating the application.
The other question is, should we consider this an issue.  I'm sure there are going to be users operating at a lower resolution.

[2017-05-02 22:51] topowright commented on #737
This is what the widget dialog looks like however; they create the same output on the map:

![image](https://cloud.githubusercontent.com/assets/5488313/25642499/123fb582-2f4f-11e7-8bae-6be7e03383b5.png)

![image](https://cloud.githubusercontent.com/assets/5488313/25642524/3eb6010c-2f4f-11e7-8cb6-1b42ca16a635.png)

[2017-05-02 22:52] topowright commented on #737
The numbers in the box dynamically update and they are correct, but the same graphic is drawn.

[2017-05-02 23:01] topowright commented on #737
This is done and verified.

[2017-05-02 23:01] #737 closed

[2017-05-02 23:12] topowright commented on #860
yeah. I saw the same issue you are seeing. I think that this is due to the design. I wonder what could change to support the four tab approach.

[2017-05-02 23:12] ACueva commented on #822
Tested and this sort of works.  I say this because this works:

![2017-05-02_16-10-11](https://cloud.githubusercontent.com/assets/3093940/25642955/e2e25738-2f51-11e7-82e6-79170c33865c.png)

If we add spaces to the entry, it no longer works:

![2017-05-02_16-11-17](https://cloud.githubusercontent.com/assets/3093940/25642995/00c6112c-2f52-11e7-94d0-bfca397cf844.png)

IMO the second would be what a u

[2017-05-02 23:13] ACueva commented on #822
@kgonzago

[2017-05-02 23:22] topowright commented on #822
@ACueva had an issue with this tool not calculating properly. Here is an example of what is happening:

![image](https://cloud.githubusercontent.com/assets/5488313/25643260/93ef00d4-2f53-11e7-9ba3-a9610bb2f518.png)

[2017-05-02 23:26] topowright commented on #822
Here is another example of this tool calculating it incorrectly:

![image](https://cloud.githubusercontent.com/assets/5488313/25643333/14b77d68-2f54-11e7-850d-f2138af40469.png)

[2017-05-02 23:29] topowright commented on #822
This tool would work if we changed the name of the tool from distance between names to distance from origin. This is per @ACueva logic of what this tool could be vs. looking at what it is not.

[2017-05-02 23:30] topowright commented on #822
@kgonzago @nfeuerstein @lfunkhouser

[2017-05-02 23:54] ACueva commented on #813
Got this one.

[2017-05-02 23:55] ACueva commented on #813
Verified.  Tool tips show up.

[2017-05-02 23:55] #813 closed

[2017-05-02 23:57] ACueva commented on #828
I got this one.

[2017-05-03 00:00] lfunkhouser commented on #822
Dev work is required either way.

Including an option to draw rings based on distance from origin would require a UI enhancement. This would give the user an option to select either draw rings based on distance between rings (as currently designed) or draw based on distance from origin (how it is currently behaving).

If we plan to include this enhancement, it is not working as expected and would

[2017-05-03 16:27] ACueva commented on #828
Verified this is working.  This functionality also works the same as ArcMap.  I also tested this on ArcGIS Pro.  It does not work.  Logging another issues to address the ArcGIS Pro issue.

[2017-05-03 22:28] lfunkhouser commented on #828
This should be added to the Release Notes - adding ```Affects Documentation``` label and putting in the ```backlog``` for a PE to pick up.

[2017-05-04 13:23] kgonzago commented on #860
@ACueva @topowright Two ways to accomplish this:

1. The width and height of each widget can be set in the main config.json of the deployed WAB app (easiest approach)
2. In the code, determine form factor resolution and set width and height accordingly (requires additional coding).
3. Build in intelligence into CSS files to handle lower resolution in form factor (ideally the best route but require

[2017-05-04 13:25] kgonzago commented on #739
@dfoll @topowright to mimic what's offered in the add-ins, I'll remove the GARS and GEOREF options.

[2017-05-04 13:49] kgonzago commented on #846
@topowright Was able to repro. Will look into it.

[2017-05-04 15:09] kgonzago commented on #822
@lfunkhouser I would suggest we stick with what's implemented and change the label to "Distance from Origin". We then tackle "Distance between Rings" functionality in the next iteration. Thoughts?

[2017-05-04 16:53] NatalieCampos commented on #860
@lfunkhouser, @nfeuerstein @topowright

This issue can possibly fixed by reducing the white /grey space of the tabs themselves.  Sort of like we would adjust the cell width to fix text in excel.  Is this possible @kgonzago ?

[2017-05-04 19:20] topowright commented on #860
Moving the tabs to the side the widget could also help if we are not able to do what @NatalieCampos stated above.

[2017-05-04 19:21] topowright commented on #822
changing the label is not possible because it will affect the other workflow that is already in place.

[2017-05-04 19:33] topowright opened #861 "Implement a drop down to support different workflows for Range Rings"
### Widget
Distance and Direction
### Version of widget

### Bug or Enhancement
Currently we need to support multiple workflows for creating Range Rings:

Allow users to create unequally spaced rings from origin through keyboard
https://github.com/Esri/solutions-webappbuilder-widgets/issues/822

Allow users to create unequally spaced rings through keyboard from last ring
-
We can use the same appr

[2017-05-05 12:37] #859 closed

[2017-05-05 14:41] ACueva commented on #860
Going to look into this issue.

[2017-05-06 02:59] lfunkhouser commented on #793
Assigning to MT PEs to verify.

[2017-05-09 08:06] adgiles commented on #795
I have put a comment in the code (LineFeedback.js line 218) that explains to a developer what is required to revert this change on their set up if they want the endpoint to automatically update on mousemove. It clearly states use with caution.

[2017-05-09 10:36] adgiles commented on #746
When a new notation is added it is now placed at the top of the output table and a tooltip is displayed:

![image](https://cloud.githubusercontent.com/assets/3740334/25846901/ae7f8830-34ab-11e7-8958-aadf64b0c36b.png)

[2017-05-09 10:54] adgiles commented on #805
I have change the column names to be 'Default Format' and 'Edit Format' :

![image](https://cloud.githubusercontent.com/assets/3740334/25847394/e157c27a-34ad-11e7-9768-683949195286.png)

Yes I could have just made the Default Format value editable but I wanted to add the action to ensure that the notation is checked before allowing the value to be changed, this prevents the user changing the value

[2017-05-09 11:32] adgiles commented on #860
Amended the widget CSS to remove the padding around the labels which in turn reduces the overall widths of the tabs allowing them all to fit in. Have checked in all templates and seems to be working

[2017-05-09 13:25] adgiles commented on #835
I suggest in order to address this issue and #833 we need to look at the UI of this widget, maybe instead of using the Horizontal and Vertical sliders for the range and height we revert back to input boxes:

![picture1](https://cloud.githubusercontent.com/assets/3740334/25853028/40b3194e-34c3-11e7-80e8-f1f49e23438f.png)

Any thoughts?

[2017-05-09 13:40] kgonzago commented on #835
@adgiles The UI looks good.

@topowright @NatalieCampos @ACueva @dfoll What are your thoughts?

[2017-05-09 13:52] kgonzago commented on #851
@Dbarnes1 closing out.

[2017-05-09 13:52] #851 closed

[2017-05-09 13:53] kgonzago commented on #749
@topowright @NatalieCampos @ACueva @dfoll Can you doc this as a known limitation? Once done, please close out this issue.

[2017-05-09 13:57] kgonzago opened #867 "Add MGRS coordinates as an option to GRG Widget"
### Widget
GRG Widget

### Version of widget
2.0

### Enhancement
Add MGRS coordinates as an option for labeling cells in the grid.

[2017-05-09 13:58] kgonzago opened #868 "GRG Widget: Allow user to dynamically resize grid"
### Widget
GRG

### Version of widget
2.0

### Enhancement
Allow a user to dynamically resize a grid at runtime.

[2017-05-09 14:00] adgiles commented on #867
@kgonzago can you confirm which part of the grid the MGRS value will be taken from - Center / Bottom Left?

[2017-05-09 15:47] joebayles commented on #835
@kgonzago @adgiles: I agree. The three boxes on the left are input, right?

[2017-05-09 15:50] adgiles commented on #835
Yep, restricted to numerics

[2017-05-09 20:46] ACueva commented on #860
I'll verify this one.

[2017-05-09 20:51] ACueva commented on #860
Verified.  Should not affect documentation.  Marking as Verified and closing issue.
![2017-05-09_13-50-17](https://cloud.githubusercontent.com/assets/3093940/25872150/93f8d0bc-34be-11e7-8036-68bc29471377.png)

[2017-05-09 20:51] #860 closed

[2017-05-09 20:52] ACueva commented on #746
I got this one.

[2017-05-09 21:12] ACueva commented on #746
Verified.  New functionality is working.  Adding "Affects documentation" tag as there is a new tool tip created after successfully adding a new notation.  This may or may not affect documentation.
![2017-05-09_13-55-47](https://cloud.githubusercontent.com/assets/3093940/25872364/3d3454c6-34bf-11e7-8616-261db4958839.png)
@lfunkhouser Suggest we create a new column/label for items that are functiona

[2017-05-09 21:15] ACueva commented on #795
I got this one.

[2017-05-09 23:18] ACueva commented on #746
FYI @topowright @dfoll @NatalieCampos
I've updated the documentation.  Could one of you PE's please review and make changes as needed? Thanks.
Topic is located here:
/ArcGIS Solutions/ArcGIS for Defense/Military Tools for ArcGIS/Web AppBuilder/topics

Old wording:
1. 	Click the Add New Notation button in the Input section of the widget.
A box appears at the bottom of the Output section.

New wordi

[2017-05-10 08:16] adgiles commented on #782
When in polar regions the label for UTM & UTM(H) no longer change to UPS
and coordinates are left blank (or blanked out if already populated)

[2017-05-10 11:21] adgiles commented on #838
I cannot replicate the comment created by @Dbarnes1 on Feb 23 can somebody verify this is still an issue

@NatalieCampos @topowright @dfoll @ACueva

[2017-05-10 11:22] adgiles commented on #834
@NatalieCampos @topowright @dfoll @ACueva

Can somebody Document this known limitation and close this issue once done, Thanks

[2017-05-10 13:50] adgiles commented on #849
Fixed can somebody ( @ACueva @dfoll @NatalieCampos @topowright  ) please verify

[2017-05-10 14:02] kgonzago commented on #701
not a supported workflow. closing.

[2017-05-10 14:02] #701 closed

[2017-05-10 14:11] adgiles commented on #670
Is this still valid? It seems to be ok for me, can somebody please verify.

@NatalieCampos @dfoll @ACueva @topowright

[2017-05-10 15:24] ACueva commented on #822
@nfeuerstein @lfunkhouser If this item is to be addressed this version, PE's will need to sequence diagram and plan for these changes.  Please confirm these changes should be incorporated into this release.

[2017-05-10 15:53] ACueva commented on #838
I'll look into this one.

[2017-05-10 15:59] ACueva commented on #838
Verified zoom functionality appears to be working properly.

[2017-05-10 15:59] #838 closed

[2017-05-10 16:03] ACueva commented on #782
I got this one.

[2017-05-10 16:45] ACueva commented on #782
Verified.  New behavior in the polar regions is shown below.
![2017-05-10_9-37-16](https://cloud.githubusercontent.com/assets/3093940/25910302/bd361830-3564-11e7-8166-3e336f4c96ae.png)

Observation:
1. Coordinate Conversion ArcMap addin needs this same behavior added. (Will check and log an issue accordingly)

@topowright @NatalieCampos @dfoll I'm assuming leaving the UTM notation box empty is a v

[2017-05-10 17:05] ACueva commented on #746
@dfoll reviewed these changes.  Marking Done.

[2017-05-10 17:05] #746 closed

[2017-05-10 22:45] ACueva commented on #793
I got this one.

[2017-05-11 14:22] adgiles commented on #852
Issue should be address please can somebody verify

@NatalieCampos @dfoll @topowright @ACueva

[2017-05-11 14:24] adgiles commented on #816
Issue should be addressed please can somebody verify

@NatalieCampos @dfoll @topowright @ACueva

[2017-05-11 15:10] kgonzago commented on #849
@adgiles I'll verify.

[2017-05-11 15:14] kgonzago commented on #849
@adgiles Verified. Closing.

[2017-05-11 15:14] #849 closed

[2017-05-11 15:17] kgonzago commented on #867
@kAilshie We are looking into adding MGRS coordinates for the GRG widget. Since this enhancement came from your customer, can you provide some insight to @adgiles's question?

[2017-05-11 15:21] ACueva commented on #852
I got this one.

[2017-05-11 16:18] ACueva commented on #793
Verified.  Working per the examples listed in issue:
https://github.com/Esri/solutions-webappbuilder-widgets/issues/718

![2017-05-11_9-09-55](https://cloud.githubusercontent.com/assets/3093940/25959779/aca7d880-3629-11e7-855c-e811251cad44.png)

![2017-05-11_9-12-22](https://cloud.githubusercontent.com/assets/3093940/25959860/fb5cb09a-3629-11e7-905e-9e8d39e951f9.png)

This is fixing previous incor

[2017-05-11 16:43] ACueva commented on #852
Verified.
Behavior is now Semi Ellipses return the radius length for both Major and Minor axis.
Full Ellipses return the diameter length for both Major and Minor axis.

Unknown if this affects documentation.  Adding label.

[2017-05-11 16:46] ACueva commented on #816
I got this one.

[2017-05-11 16:47] adgiles commented on #793
@ACueva

Where are the two screenshots above from? the UTM(H) values should only have the letters N or S

[2017-05-11 16:49] ACueva commented on #793
@adgiles The screenshots were taken from this morning's build.

[2017-05-11 16:50] adgiles commented on #793
@ACueva can you confirm the UTM(H) values?

[2017-05-11 16:57] ACueva commented on #793
Confirming latest build:
![2017-05-11_9-53-56](https://cloud.githubusercontent.com/assets/3093940/25961639/ca98dee2-362f-11e7-8ba9-1a5df741bd6c.png)

Widget Configuration:
![2017-05-11_9-55-19](https://cloud.githubusercontent.com/assets/3093940/25961683/f8fa979e-362f-11e7-8e26-01c48d599cfe.png)

Using Input 34KGE3581934434
![2017-05-11_9-56-46](https://cloud.githubusercontent.com/assets/3093940/25

[2017-05-11 17:42] ACueva commented on #793
@adgiles The changes took, looks good now.
![2017-05-11_10-41-09](https://cloud.githubusercontent.com/assets/3093940/25963526/71e0856e-3636-11e7-9449-ceffa3d8cd69.png)

[2017-05-11 20:58] ACueva commented on #815
Reopening issue from a doc standpoint.  Known issues section lists:
When creating circles using the distance calculator, if you create the circle from diameter, you will get incorrect results. https://github.com/Esri/solutions-webappbuilder-widgets/issues/815

I'll be removing that known issue shortly:
Mindjet location:
/General/ArcGIS Solutions/ArcGIS for Defense/Distance and Direction/Web

[2017-05-11 20:58] #815 closed

[2017-05-11 21:09] ACueva commented on #816
Ran tool using examples listed above.  Working properly now.
Semi now gives accurate results.
![2017-05-11_14-07-55](https://cloud.githubusercontent.com/assets/3093940/25972048/52f177a4-3653-11e7-978c-adedc72d703a.png)

DOCUMENTATION CHANGES
Removed the following line :
When creating full ellipses by typing in Center Point and Axis values,  invalid ellipses are created; the Axis values are doubled

[2017-05-11 21:09] #816 closed

[2017-05-11 21:15] joebayles opened #872 "Visibility - Improve Error Message(s)"
### Widget
Visibility

### Version of widget
1.0.0

### Bug or Enhancement
Improve error messages

### Repo Steps or Enhancement details
Whether I query outside the extent of the viewshed GP service or I configure with and query an invalid service (i.e. an elevation service), I receive the same error message:

Suggest:
- [ ] Add a check during configuration to ensure that the service is valid, and

[2017-05-11 21:30] ACueva commented on #793
Verified there is no known issue in our documentation.  Closing issue.

[2017-05-11 21:30] #793 closed

[2017-05-11 21:34] ACueva commented on #782
This issue was listed in our documentation as a known issue.  Removing it as it no longer is.

Document located here:
/General/ArcGIS Solutions/ArcGIS for Defense/Coordinate Conversion/Web

[2017-05-11 21:34] #782 closed

[2017-05-11 21:43] ACueva commented on #749
Per @lfunkhouser we'll keep this item living in the same document section as a "Known Issue".

[2017-05-11 21:43] #749 closed

[2017-05-11 21:49] ACueva commented on #852
This is not listed as a known issue.  It does not appear to affect documentation.  Removing label and closing.

[2017-05-11 21:49] #852 closed

[2017-05-11 22:19] ACueva commented on #795
Confirmed with @lfunkhouser that there's no need to document this in our documentation.  Should there be a request for this functionality we can refer them to this issue.

This is the code mentioned in LineFeedback.js line 218

[code]

[2017-05-11 22:19] #795 closed

[2017-05-12 11:33] kgonzago commented on #872
@adgiles FYI

[2017-05-12 13:16] adgiles commented on #822
Here is my suggestion, the current widget UI look similar to:

![1](https://cloud.githubusercontent.com/assets/3740334/25999418/f1758d74-371c-11e7-97c4-27a02bfa3f00.png)

I recommend adding a drop down with the following 4 creation types (Interactively | Fixed |
Origin | Cumulative). Then change the UI depending on the choice:

![2](https://cloud.githubusercontent.com/assets/3740334/25999472/24ebf

[2017-05-12 13:18] adgiles commented on #861
See my comment in #822

[2017-05-12 13:23] kgonzago opened #873 "Distance and Direction: Distance and Bearing on Line tab produces an inaccurate line."
### Widget
Distance and Direction

### Version of widget
2.0

### Bug or Enhancement
Bug

### Repo Steps or Enhancement details
Creating a line using the Distance and Bearing option produces a line that does not represent the true angle supplied by a user. Here are the steps to reproduce:
1. Select `Distance and Bearing` option
2. Create a center point
3. Set `Length` to 1000
4. Select `Kilometers

[2017-05-12 19:40] kgonzago opened #874 "Visibility Widget needs to handle async calls"
### Widget
Visibility

### Version of widget
2.0

### Bug or Enhancement
Bug

### Repo Steps or Enhancement details
Currently, the visibility widget makes a synchronous call to a viewshed service. It needs to handle both synchronous and asynchronous calls to any viewshed GP service.

For example: we allow a user to configure the widget with a custom viewhed service. If a user specifies a service t

[2017-05-12 21:09] kAilshie commented on #867
@kgonzago  I don't know that answer to that specific question but I reached out to my POC and I will relay any information I get back to you.

[2017-05-13 00:15] joebayles commented on #867
I would assume they mean like this:
![image](https://cloud.githubusercontent.com/assets/5016557/26020630/b635a8d4-3735-11e7-9425-475efc470eb2.png)

So, I think it would probably be easier to create the GRG from the Grid Overlay widget, since an MGRS GRG goes counter to identifying your cell size, rotation, etc.

It would be like identifying the extent and the level of accuracy (4, 6, 8, 10 digits)

[2017-05-15 15:06] adgiles commented on #833
Redesign of widget UI complete to incorporate this enhancement and #835

Can somebody verify @ACueva @dfoll @NatalieCampos @topowright

[2017-05-15 15:07] adgiles commented on #835
Redesign of widget UI complete to incorporate this enhancement and #833

Can somebody verify @ACueva @dfoll @NatalieCampos @topowright

[2017-05-15 16:13] ACueva commented on #835
@adgiles Ideally we'd want you to wait on the Product Engineers to drive the design.  I'll schedule a meeting with the PEs to review your changes and provide changes/requirements as needed.

[2017-05-15 17:51] adgiles commented on #835
@ACueva

Understood, but the initial enhancement request posted by @joebayles above and #833 were both posted 3 months ago, can we really be waiting this long to implement fairly simple changes?

[2017-05-15 18:15] ACueva commented on #835
@joebayles Isn't on the military tools team.  He should be treated like an outside stakeholder, nothing more.

Part of making sure we put out quality products is for the product engineers to take an active role in what is being developed.  This entails the product engineers taking the lead in deciding what goes on with all aspects of the military tools products.  At the end of the day we are the o

[2017-05-15 22:30] NatalieCampos commented on #872
assigning to @nfeuerstein for priority.

[2017-05-15 23:18] NatalieCampos commented on #835
@adgiles The new design look good. However, we have additional changes.  We have uploaded a design diagram to box.  Please review it.  @ACueva will schedule a meeting to review necessary changes.

[2017-05-16 17:50] ACueva commented on #835
@adgiles showed me some of the changes made.  I'll test these changes and log any issues as needed.

[2017-05-16 21:38] #805 closed

[2017-05-16 22:42] NatalieCampos commented on #833
@adgiles I seem to be able to copy coordinates into the Center Point dialog.  Closing.